html {color:#333;background:#FFF}
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,input,textarea,button,p,th,td {padding:0;margin:0}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,th,var,b,i,s {font-style:normal;font-weight:normal}
ul,li {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
input,textarea,select,button{/* border:none; */font-family:inherit;font-size:inherit;font-weight:inherit;#font-size:100%}
legend{color:#000}
input[type=search]{-webkit-appearance:none}
a img, a span, a strong, a s{#cursor:pointer;}
body,button,select,textarea,input,label, option, fieldset, legend{font-family: 'lucida grande', 'lucida sans unicode', 'lucida',
		'helvetica', 'Hiragino Sans GB', 'Microsoft YaHei',
		'WenQuanYi Micro Hei', sans-serif;}
button{white-space:nowrap;overflow:visible}
a, a:link {color:#333;text-decoration:none;}
a:visited {color:#333;}
a:hover {color:#317EE7;text-decoration:underline;}
a:focus {outline:none;}

.hightline{border-radius:5px;margin-top:15px;padding:0.5rem 0;background:#f4f4f4;box-shadow:0 0 10px #777777;}

.mod_list {border-radius:5px;margin-top:15px;padding:10px 0;background:#f4f4f4;box-shadow:0 0 10px #777777;position:relative;}
.mod_list .mod_list_hd {padding:10px;border-bottom:1px solid #e7e7e7;zoom:1;clear:both;}
/*
.mod_list .mod_list_hd:after {display:block;content:".";height:0!important;line-height:0!important;visibility:hidden;clear:both;}
*/
.mod_list .mod_list_hd h3 {float:left;font-size:12px;font-weight:normal;}
.mod_list .mod_list_hd .sub_tit {float:left;padding-left:7px;color:#777;}
.mod_list .filter {padding:0.5rem 1rem;border-bottom:1px solid #e7e7e7;}

div.content>div{margin: 2rem;}
h3.title{margin: 0.5rem 0;font-weight: bold; font-size: 1.1rem; line-height: 2rem; background-color: #eeeeee;text-indent: 1rem;}
ul.hight_list{height: auto;min-height: 4rem;}
ul.hight_list li{list-style: none;float: left;margin: 0 1rem; display: block;line-height: 3rem;border-right: 1px solid #000000;}
ul.hight_list li:last-child{border:none;}
ul.hight_list li p{font-size:1.2rem;line-height: 3rem; float: left;margin: 0 2rem 0 0;}
ul.hight_list li p.tit{font-weight: lighter;margin:0 0.5rem 0 0;}
ul.hight_list li p.nu{font-weight: bold;}

#terms_definition_div{}	/*指标解释专属*/
#terms_definition_div>p{margin: 1rem;}

