@charset "utf-8";
/*reset*/
body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0;}
body { font:normal 12px/1.5 "\5FAE\8F6F\96C5\9ED1", Arial,"\5b8b\4f53", Helvetica, sans-serif; height:100%; text-align:center; background:#3c93d0;}
html {width:100%;height:100%;overflow:hidden;}
input, label, select, option, textarea, button, fieldset, legend { font-family:"\5FAE\8F6F\96C5\9ED1", Arial,"\5b8b\4f53", Helvetica, sans-serif; font-size:100%;}
section, article, aside, header, footer, nav, dialog, figure,hgroup {display: block;}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse:collapse; border-spacing:0;}
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal;}
ul, ol { list-style:none; }
select, input{ vertical-align:middle;}
img { vertical-align:top; }
em{font-style:normal; color:#f00;}
a:link, a:visited { text-decoration:none;}
fieldset, img { border:0; }
sup, sub { font-size: 100%; vertical-align: baseline;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/*global set*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block;} /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
div,p,li,dt,dd,label,h1,h2,h3,h4,h5,h6{text-align:left;}
/*======== layout ========*/
.wrap {position:relative;width:100%;height:100%;*zoom:1;-moz-user-select:none;}
.wrap:after {clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.wrap .state-background,.wrap .pause-overlay {display:block;}
.wrap .state-background:before,.wrap .state-background:after {position:absolute;left:0;top:0;width:100%;height:100%;content:"";}

.hp .state-background:before {background:url(../images/flowline/bigbg01.jpg) no-repeat 50% 50%/cover;}
.hp .state-background:after {background:url(../images/flowline/rp01.png) repeat;}

.project_2011 .state-background:before {background-color:#3c93d0;}
.project_2011 .state-background:after {background:url(../images/flowline/rp01.png) repeat;}

.project_2012 .state-background:before {background-color:#ffab3e;}
.project_2012 .state-background:after {background:url(../images/flowline/rp02.png) repeat;}

.project_2012_second .state-background:before {background-color:#00a480;}
.project_2012_second .state-background:after {background:url(../images/flowline/rp03.png) repeat;}

.project_2013 .state-background:before {background-color:#da384f;}
.project_2013 .state-background:after {background:url(../images/flowline/rp03.png) repeat;}

.project_2013_1 .state-background:before {background:url(../images/flowline/bigbg02.jpg) no-repeat 50% 50%/cover;}
.project_2013_1 .state-background:after {background:url(../images/flowline/rp04.png) repeat;}

.project_2013_second .state-background:after {background:url(../images/flowline/rp05.png) repeat;}

.header {position:absolute;left:0;top:0;z-index:2;width:100%;height:140px;}
.header .hd {height:65px;line-height:65px;border-bottom-color:rgba(0,0,0,0.05);box-shadow:0 1px 0 rgba(255,255,255,0.1);}
.header h1 {float:left;padding-left:25px;color:#fff;font-size:26px;}
.back_login {position:absolute;right:0;top:0;display:block;width:144px;height:64px;text-align:center;
color:#fff;font-size:14px;line-height:64px;border-left:1px solid #c1afa0;border-left-color:rgba(0,0,0,0.05);box-shadow:-1px 0 0 rgba(255,255,255,0.1);background-color:rgba(0,0,0,0.02);}
.header .bd {width:100%;height:42px;padding:32px 0 0 0;}
.line {float:left;width:100%;height:1px;margin:17px 0 0 0;}
.line i {display:block;height:1px;margin-left:894px;background-color:rgba(255,255,255,0.3);}
.menu_list {float:left;width:1002px;height:35px;margin-left:-100%;}
.menu_list li {position:relative;float:left;}
.menu_list i {float:left;width:120px;height:1px;margin:17px 0 0 0;background-color:rgba(255,255,255,0.3);}
.menu_list span {float:left;width:35px;height:35px;margin-bottom:5px;cursor:pointer;background:url(../images/flowline/menu.png) no-repeat 0 -36px;}
.menu_list li.hp i {width:102px;}
.menu_list li.hp span {width:17px;height:17px;margin:9px 0 0 0;background-position:-9px -72px;}
.menu_list li.cur span,.menu_list li.past_nav span {background-position:0 0;}
.menu_list strong {position:absolute;right:0;display:none;top:40px;color:#fff;font-size:14px;font-weight:normal;white-space:nowrap;}
.menu_list strong.year_2011 {right:-5px;}
.menu_list strong.year_2012,.menu_list strong.year_2013 {right:-20px;}
.menu_list li.cur strong {display:inline-block;}

.opt_tip {width:100%;}
.slides h2 {text-align:center;}
.slides h2 span {font-family:Arial;}
.slides p {color:#fff;text-align:center;font-size:18px;}
.opt_tip h2 {margin-bottom:30px;color:#fff;font-size:54px;}
.arrow_box {display:inline-block;width:145px;height:97px;background:url(../images/flowline/arrow_bg.png) no-repeat;}
/*--- 2011.11 ---*/
.complex {display:inline-block;height:150px;}
.complex h2 {float:left;margin-right:25px;color:#fff;font-size:24px;}
.complex h2 span {font-size:68px;}
.complex .prom_line {position:relative;float:left;}
.complex .prom_line s {display:block;margin:65px 0 0 0;}
.complex .prom_line span {position:absolute;top:85px;display:block;color:#fff;font-size:14px;white-space:nowrap;}
.complex .prom_line strong {position:absolute;display:block;color:#fff;font-size:20px;font-weight:normal;white-space:nowrap;text-align:center;}
.november_2011 .prom_line {width:361px;}
.november_2011 .prom_line s {height:23px;margin:63px 0 0 0;background:url(../images/flowline/nov_2011.png) no-repeat;}
.november_2011 .prom_line span.november {left:168px;top:90px;}
.november_2011 .prom_line strong.prom_november {left:100px;top:115px;}
/*--- 2012上半年 ---*/
.fist_half_2012 .prom_line {width:729px;height:150px;}
.fist_half_2012 .prom_line s {width:729px;height:17px;background:url(../images/flowline/fist_half_2012.png) no-repeat;}
.fist_half_2012 .prom_line span.april {left:166px;}
.fist_half_2012 .prom_line span.may {left:354px;}
.fist_half_2012 .prom_line span.june {left:540px;}
.fist_half_2012 .prom_line strong.stream {left:82px;top:115px;}
.fist_half_2012 .prom_line strong.source {left:290px;top:12px;}
.fist_half_2012 .prom_line strong.active {left:465px;top:115px;}
/*--- 2012下半年 ---*/
.second_half_2012 .prom_line {width:805px;height:150px;}
.second_half_2012 .prom_line s {width:805px;height:17px;background:url(../images/flowline/second_half_2012.png) no-repeat;}
.second_half_2012 .prom_line span.july {left:20px;}
.second_half_2012 .prom_line span.august {left:160px;}
.second_half_2012 .prom_line span.september {left:290px;}
.second_half_2012 .prom_line span.october {left:420px;}
.second_half_2012 .prom_line span.november {left:554px;}
.second_half_2012 .prom_line span.december {left:688px;}
.second_half_2012 .prom_line strong.prom_july {left:-20px;top:115px;}
.second_half_2012 .prom_line strong.prom_august {left:136px;top:25px;}
.second_half_2012 .prom_line strong.prom_september {left:230px;top:115px;}
.second_half_2012 .prom_line strong.prom_october {left:376px;top:25px;}
.second_half_2012 .prom_line strong.prom_november {left:485px;top:115px;}
.second_half_2012 .prom_line strong.prom_december {left:606px;top:25px;}
/*--- 2013上半年 ---*/
.fist_half_2013 .prom_line {width:834px;height:150px;}
.fist_half_2013 .prom_line s {width:834px;height:17px;background:url(../images/flowline/fist_half_2013.png) no-repeat;}
.fist_half_2013 .prom_line span {position:absolute;top:85px;display:block;color:#fff;font-size:14px;}
.fist_half_2013 .prom_line span.january {left:32px;}
.fist_half_2013 .prom_line span.february {left:218px;}
.fist_half_2013 .prom_line span.mar {left:404px;}
.fist_half_2013 .prom_line span.may {left:593px;}
.fist_half_2013 .prom_line span.june {left:778px;}
.fist_half_2013 .prom_line strong.stream {left:-50px;top:115px;}
.fist_half_2013 .prom_line strong.source {left:166px;top:12px;}
.fist_half_2013 .prom_line strong.active {left:324px;top:115px;}
.fist_half_2013 .prom_line strong.pricing {left:540px;top:12px;}
.fist_half_2013 .prom_line strong.associates {left:680px;top:115px;}
/*--- 2013下半年 ---*/
.second_half_2013 .prom_line {width:543px;height:150px;}
.second_half_2013 .prom_line s {width:543px;height:17px;background:url(../images/flowline/second_half_2013.png) no-repeat;}
.second_half_2013 .prom_line span {position:absolute;top:85px;display:block;color:#fff;font-size:14px;}
.second_half_2013 .prom_line span.july {left:168px;}
.second_half_2013 .prom_line span.august {left:354px;}
.second_half_2013 .prom_line strong.oppms {left:102px;top:115px;}
.second_half_2013 .prom_line strong.wireless {left:246px;top:-6px;}
/*--- 项目具体内容 ---*/
.prom_content {text-align:center;}
.prom_detail h2 {padding:45px 0 10px 70px;text-align:left;color:#fff;font-size:24px;}
.prom_detail h2 span {font-size:68px;}
.prom_content h3 {margin-bottom:10px;color:#fff;font-size:24px;text-align:center;}
.pc_hd {height:120px;}
.pc_hd p {font-size:14px;}
.pc_bd {text-align:center;}