@charset "GB2312";

/* 默认链接 */
a:link,
a:visited {text-decoration:none;color:#555;}
a:hover {text-decoration:underline;color:#D4105A;}

/*按钮样式 bl=蓝色,or=橘色,gr=灰色,link_btn=文字链接*/
.bl_btn,
.bl_btn input{height:25px;color:#FFF;background:url(../images/bg.png) no-repeat;border:none;display:inline-block;cursor:pointer;}
.bl_btn{ padding-left:5px;margin:0 0px 0 0px;background-position:left -123px;cursor:pointer;}
.bl_btn input{ font-weight:bold; margin:0; padding-left:5px; padding-right:5px;_padding-right:5px;background-position:right -123px;}
.or_btn,
.or_btn input{height:25px;color:#FFF;background:url(../images/bg.png) no-repeat;border:none;display:inline-block;}
.or_btn{ padding-left:5px;margin:0 3px 0 3px;background-position:left -98px;}
.or_btn input{ font-weight:bolder; margin:0; padding-left:5px;padding-right:5px;_padding-right:5px;background-position:right -98px;}
.gr_btn,
.gr_btn input{height:25px;color:#FFF;background:url(../images/bg.png) no-repeat;border:none;display:inline-block;}
.gr_btn{ padding-left:5px;margin:0 3px 0 3px;background-position:left -148px;}
.gr_btn input{ font-weight:bolder; margin:0; padding-left:10px;padding-right:10px;_padding-right:5px;background-position:right -148px;}
