@charset "utf-8";
/*reset*/
body, div, dl, dt, dd, ul, ol, li, p, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, button, input, textarea, img, blockquote, th, td { margin:0; padding:0; }
body { font:normal 12px/1.5 "\5FAE\8F6F\96C5\9ED1",Tahoma, Arial,"\5b8b\4f53", Helvetica, sans-serif; height:100%; text-align:center;background:url(../images/bg_gaosi_01.jpg) no-repeat -240px 0;}
input, label, select, option, textarea, button, fieldset, legend { font-family:"\5FAE\8F6F\96C5\9ED1",Tahoma, Arial,"\5b8b\4f53", Helvetica, sans-serif; font-size:100%; }
section, article, aside, header, footer, nav, dialog, figure,hgroup {display: block;}
/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal; }
ul, ol { list-style:none; }
select, input{ vertical-align:middle; }
img { vertical-align:top; }
em{font-style:normal;}
a:link, a:visited { text-decoration:none; }
fieldset, img { border:0; }
sup, sub { font-size: 100%; vertical-align: baseline; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/*global set*/
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; } /* Hides from IE-mac\*/
* html .clearfix { height: 1%; }
.clearfix { display: block; } /* End hide from IE-mac*/
div,p,li,dt,dd,label,h1,h2,h3,h4,h5,h6{text-align:left;}
/*======== layout.css ========*/
.main_cotant {padding-bottom:10px;background:url(../images/bg_main.png) repeat;}
.cont_hd {height:26px;margin-bottom:6px;padding:10px 0 0 0;line-height:26px;color:#fff;line-height:normal;}
.cont_hd span {display:inline-block;margin:0 10px;}
.cont_hd strong.current {margin-left:10px;font-size:13px;}
.cont_hd span.split {margin:0;}
.mc_bd {padding:0 10px;}
.mail_sub {padding:0 17px 0 20px;background-color:#f9f9f9;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;
box-shadow:0 0 5px #666;-moz-box-shadow:0 0 5px #666;-webkit-box-shadow:0 0 5px #666;}
.sub_hd {height:32px;padding:10px 0 0 0;line-height:32px;border-bottom:1px solid #d3d3d3;}
.sub_hd h2 {float:left;margin:0 10px 0 0;color:#333;}
.sub_hd p {color:#777;}
.sub_hd a {color:#5195f2;}
.sub_bd {padding:20px 0 0 0;border-top:1px solid #fff;}
.mail_sub_list li.item {*zoom:1;}
.mail_sub_list li.item:after {clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.mail_sub_box {margin-bottom:10px;padding:0 20px 10px;border:1px solid #e7e7e7;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;background-color:#fff;}
.ms_hd {height:30px;padding:10px 0 0 0;line-height:30px;}
.sub_show .ms_bd {margin:5px 0 0 0;}
.ms_inf {float:left;}
.ms_arrow{background:url(../images/com_icon.png) no-repeat;}
.ms_arrow {float:left;width:10px;height:6px;margin:13px 7px 0 0;cursor:pointer;background-position:-2px -21px;}
.mail_error_tip {float:left;color:#777;}
.mail_error_tip .icon_error {float:left;margin:3px 5px 0 0;background-position:0 -19px;}
.ms_inf .mail_num {float:left;color:#333;}
.ms_inf .mail_status {float:left;margin-left:20px;color:#00a714;}
.icon_point {display:inline-block;width:14px;height:14px;background:url(../images/icon_point.png) no-repeat;}
.ms_inf .mail_status .icon_point {vertical-align:-5px;}
.ms_inf h3 {float:left;margin:0 10px 0 0;color:#333;font-weight:700;}
.ms_inf p {float:left;color:#777;}
.ms_opt {position:relative;float:right;margin:0 20px 0 0;}
.btn-normal,
.btn-normal span,
.btn-weak,
.btn-weak span,
.btn-warn,
.btn-warn span {display:inline-block;height:21px;line-height:21px;text-align:center;cursor:pointer;zoom:1;color:#fff;}
.btn-normal,
.btn-weak,
.btn-warn {padding-left:15px;background:url(../images/btn_left.png) no-repeat left 0;vertical-align:middle;}
.btn-normal span,
.btn-weak span,
.btn-warn span {padding-right:15px;background:url(../images/btn_right.png) no-repeat right 0;}
.btn-normal:hover {background-position:left -26px;}
.btn-normal:hover span {background-position:right -26px;}
.btn-weak {background-position:left -78px;}
.btn-weak span {background-position:right -78px;color:#333;}
.btn-weak:hover {background-position:left -104px;}
.btn-weak:hover span {background-position:right -104px;}
.btn-warn {background-position:left -235px;}
.btn-warn span {background-position:right -235px;}
.btn-disable,
.btn-disable:hover {background-position:left -52px;cursor:default;}
.btn-disable span,
.btn-disable:hover span {background-position:right -52px;cursor:default;color:#b3b3b3;}
.ms_bd {border-top:1px solid #e7e7e7;}
.sub_show .ms_arrow_o {background-position:-2px -38px;}
.user_change {padding:15px 20px 0 10px;background-color:#f4f4f4;}
.user_cg_list {overflow:hidden;}
.user_cg_list li {position:relative;margin-bottom:15px;*zoom:1;}
.user_cg_list .associate_list li {margin-bottom:0;padding:0 10px;}
.user_cg_list .associate_list li:hover {background-color:#bababa;}
.user_cg_list li:after {clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.user_cg_list .ulab {float:left;width:65px;height:20px;color:#333;line-height:20px;}
.user_cg_inf {position:relative;*zoom:1;}
.user_cg_inf:after {clear:both;display:block;content:".";height:0;visibility:hidden;font-size:0;line-height:0;}
.user_cg_inf input[type="text"] {float:left;height:18px;margin:0 5px 0 0;padding:0 5px;line-height:18px;border:1px solid #bababa;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.user_cg_inf input.rulename {width:183px;color:#777;}
.user_cg_inf input.focus {color:#333;}
.user_cg_inf em {color:#777;}
.associate_drop {display:none;position:absolute;left:65px;top:18px;z-index:2;width:200px;padding:5px 0;border:1px solid #bababa;background-color:#fff;}
.user_cg_inf input.num_cpi {width:24px;color:#777;}
.user_cg_inf select {float:left;width:95px;height:20px;margin:0 5px 0 0;color:#333;}
.user_cg_inf select.slt_cpi {width:55px;}
.user_cg_inf select.date {width:140px;margin-right:5px;color:#777;}
.user_cg_inf select.focus {color:#333;}
.user_cg_inf input.slt_cate_lage {width:550px;}
.user_cg_inf input.date_ipt {width:24px;text-align:center;}
.user_cg_inf input[type="checkbox"]{float:left;margin:4px 5px 0 0;}
.user_cg_inf label {float:left;}
.user_cg_inf label.date_lab {width:auto;margin-right:5px;}
.fx_site label {width:99px;height:20px;line-height:20px;color:#555;}
.user_cg_inf span {float:left;height:20px;margin:0 5px 0 0;line-height:20px;}
.user_cg_inf p {color:#777;}
.send_inf select {margin-right:20px;}
.send_inf label {width:65px;}
.submit_wrap {padding:10px 0 0 0;}
.submit_wrap a {margin:0 10px 0 0;}
.user_change .submit_wrap {padding:0;}
.add_it {padding:10px 0 0 0;}
.add_link {color:#5195f2;}
.icon_add,.icon_recycle_bin {display:inline-block;width:14px;height:14px;margin-right:5px;vertical-align:middle;background:url(../images/hover_icon.png) no-repeat;zoom:1;cursor:pointer;}
.icon_add {background-position:0 -255px;}
.wrap_icon .icon_recycle_bin {background:url(../images/normal_icon.png) no-repeat 0 -102px;;}
.add_link:hover .icon_add {background-position:-17px -255px;}
.wrap_icon:hover .icon_recycle_bin {background-position:-17px -102px;}
.has_expired {display:inline-block;margin-right:8px;color:#777;}
.about_date {display:inline-block;padding-left:19px;color:#777;background:url(../images/icon_time.png) no-repeat 0 50%;}
.about_date i {display:inline-block;margin:0 5px;}
.set_status {padding:13px 0 3px 42px;}
.set_status dt {position:relative;height:20px;margin-bottom:10px;line-height:20px;color:#333;}
.set_status dd {margin-bottom:10px;color:#555;}
.set_status dd.last {margin-bottom:0;}
.alway_set dd {color:#333;}

.pro_big_black {position:absolute;padding:10px;border-radius:3px;background:#535353;color:#fff;}
.icon_right,
.icon_error,
.icon_warn {display:inline-block;width:14px;height:14px;margin-right:10px;background:url(../images/icon_tips.png) no-repeat;vertical-align:middle;zoom:1;}

/*浮层组件*/
.layer_global {position:absolute;width:570px;border-radius:3px;background:#535353;z-index:10;}
.layer_global .layer_global_title {height:37px;padding:0 15px;border-bottom:1px solid #404040;position:relative;}
.layer_global .layer_global_title h3 {height:37px;line-height:37px;color:#fff;}
.layer_global .layer_global_title .btn_close {position:absolute;top:10px;right:10px;width:12px;height:12px;border:none;background:url(../images/bijia_layer.png)
no-repeat -1px -1px;cursor:pointer;}
.layer_global .layer_global_title .btn_clos:hover {background-position:-21;}
.layer_global .layer_global_title .none {display:none;}
.layer_global .layer_global_cont {padding:15px;border-top:1px solid #606060;}
.layer_global .layer_global_cont .tit {padding-bottom:15px;color:#fff;}
.layer_global .layer_global_cont .tit a {color:#fff;}
.layer_global .layer_global_cont .wrap_sel {padding-top:5px;}
.layer_global .layer_global_cont .sel_mini {width:60px;height:21px;margin-right:5px;line-height:21px;vertical-align:middle;}
.layer_global .layer_global_cont .chart {width:542px;height:233px;background:url(../images/temp_layout.jpg) no-repeat 0 0;}
/*--- 删除提示 ---*/
.del_tips {width:360px;}
.del_tips p {color:#fff;}
.del_tips p.submit_wrap {padding:10px 0 0 0;text-align:right;}
.del_tips p.submit_wrap a {margin-left:5px;}
/* right error warn */
.icon_right,
.icon_error,
.icon_warn {display:inline-block;width:14px;height:14px;margin-right:10px;background:url(../images/icon_tips.png) no-repeat;vertical-align:-3px;zoom:1;}
.icon_warn {background-position: 0 -19px;}
/*--- tip ---*/
.layout_popup {position:absolute;top:0;left:0;width:319px;border-radius:3px;background:#535353;color:#fff;}
.layout_popup .layout_hd {position:relative;padding:10px;border-bottom:1px solid #4b4b4b;}
.layout_popup .btn_close,
.layout .btn_close {position:absolute;top:9px;right:9px;width:19px;height:19px;overflow:hidden;text-indent:-5em;background:url(../images/btn_close.png) no-repeat 2px
2px;cursor:pointer;}
.layout_popup .layout_bd {padding:10px;}
.layout_popup .layout_arrow_top {position:absolute;left:200px;top:-9px;font:normal 16px/21px Simsun;}
.layout_popup .layout_arrow_top span{position:absolute;color:#535353;}
.layout_popup .layout_arrow_top i{position:absolute;top:1px;font-style:normal;color:#535353;}

.layout_popup .layout_arrow_left {position:absolute;left:-6px;top:50%;font:normal 16px/21px Simsun;}
.layout_popup .layout_arrow_left span{position:absolute;color:#535353;}
.layout_popup .layout_arrow_left i{position:absolute;left:1px;font-style:normal;color:#535353;}
.bind_mail {width:360px;}
.bind_mail_cont p {color:#fff;*zoom:1;overflow:hidden;}
.bind_mail_cont .mail_error_tip {margin-top:10px;}
.bind_mail_cont input {width:318px;height:18px;margin:10px 0 0 0;padding:0 5px;line-height:18px;border:1px solid #bababa;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.bind_mail_cont .submit_wrap {text-align:right;}
.bind_mail_cont .submit_wrap a {margin: 0 0 0 10px;}
.bind_mail_cont .mail_error_tip {color:#fff;}
.unsubscribe_popup {top:37px;left:auto;right:-20px;width:147px;}
.ms_opt .layout_popup .layout_arrow_top {left:70px;}
.unsubscribe_popup .wrap_btn a {margin-left:5px;}
.icon_pen{display:inline-block;width:14px;height:14px;margin-right:5px;vertical-align:middle;background:url(../images/normal_icon.png) no-repeat;zoom:1;cursor:pointer;}
.icon_pen {background-position:0 -238px;}
.wrap_icon:hover .icon_pen {background-position:-17px -238px;}
.wrap_icon {color:#333;}
.wrap_icon:hover {color:#5195f2;}
.ms_opt .wrap_icon {margin-left:38px;}

/*======== 未新建规则 ========*/
.set_rule {padding-bottom:10px;}
.set_rule p {padding-bottom:10px;line-height:normal;color:#333;}