<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" media="all" href="/res/JqueryUI/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<title>秘密帖子（发帖）</title>
<script type="text/javascript" src="/res/js/jquery.min.js"></script>
<script type="text/javascript" src="/res/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/res/js/jquery.md5.js"></script>
<script type="text/javascript" src="/res/js/loginstatus.js"></script>
</head>
<body>
<div id="left">
	<div id="userinfo">
		<span id='userName'></span>
	</div>
	<nav>
		{include file="$menu_path/menu.htm"}
	</nav>
</div>
<div id="main_body">
	<div id="content">
		<form id="form_detail" method="post">
			<div>
				<br />
				<label>选择主题：</label>
					{foreach from=$sec_theme item=foo}
						<div style="width:100px;float:left;display:inline"><input type="radio" name="theme" value="{$foo.id}" /><span style="width:70px;height:50px;display:block;background:{$foo.img}"></span></div>
					{/foreach}
				<br />
			</div>
			<br /><br />
			<div>
				<br />
				<label>选择类型：</label>
					<input type="radio" name="stype" value="1" />推送主题
					<input type="radio" name="stype" value="0" />匿名发表
				</label>
				<br />
			</div>
			<div>
				<br />
				<label>内容：
					<textarea rows="10" cols="100" id="textcontent"></textarea>
				</label>
				<br />
			</div>
			<div>
				<br />
				<input type="button" id='btn_save' value="保存" />
			</div>
		</form>
			
		
	</div>
	</div>
</body>
<script type="text/javascript">
var secAdd = {};

secAdd.init = function(){
	
	$("input:radio[name='theme']").eq(0).attr("checked", true);
	$("input:radio[name='stype']").eq(0).attr("checked", true);



	$("#btn_save").click(function() {
		querySubmit();
	});
}


function querySubmit(){
	
	var params = {};

	params['theme'] = $("input[name='theme']:checked").val();
	params['type'] = $("input[name='stype']:checked").val();
	params['content'] = $("#textcontent").val();
	

	console.log(params);
	if($.trim(params['content']) == ''){
		alert("请填写帖子内容");
		return false;
	}
	
	$.ajax({
		type : 'POST',
		url : '/manage/secret/secretpost',
		data: params,
		dataType : 'json',
		success: function(rdata) {
			if(rdata.code == 1){
				alert(rdata.message);
				window.location.href ="/manage/secret/secretlist";
			}else{
				alert(rdata.message);
			}
		},
		error: function() {
			alert("接口调用失败！");
		}
	});
}

secAdd.init();
</script>
</html>