<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<title>秘密列表</title>
<script type="text/javascript" src="/res/js/jquery.min.js"></script>
<script type="text/javascript" src="/res/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/res/js/jquery.md5.js"></script>
<script type="text/javascript" src="/res/js/loginstatus.js"></script>
<style>
table {
	font-size:14px;
	text-align:center;
}
</style>
</head>
<body>
<div id="left">
	<div id="userinfo">
		<span id='userName'></span>
	</div>
	<nav>
		{include file="$menu_path/menu.htm"}
	</nav>
</div>
<div id="main_body">
	<header>
		{if $header_flag eq 1}
		<form action="/manage/secret/secretList" method="post" id='form_search' onsubmit="return false;">
			<label>关键词：<input type="text" name='keyword' id="keyword"  value="{$keyword}"/></label> <label>时间：<input
				type="text" name='bgn_date' id="bgn_date" value="{$bgn_date}"/>~<input type="text" name='end_date' id="end_date" value="{$end_date}"/></label>
			<label>状态：<select id="status" name="status"><option value=''>--全部--</option>
                <option value='0' {if $status eq '0'}selected{/if}>待审核</option>
				<option value='1' {if $status eq '1'}selected{/if}>已发布</option>
				<option value='2' {if $status eq '2'}selected{/if}>已作废</option>
				<!--<option value='3' {if $status eq '3'}selected{/if}>已删除</option>-->
			</select>
			</label>
			<label><button id="btn_search">搜 索</button></label>
			<label><button id="btn_add">添 加</button></label>
		</form>
		{/if}
	</header>
	<hr />
	<div id="content">
		<table id='datalist'>
			<tr>
				<th class="check"><!--<input type="checkbox" id='checked' />--><label for="checked">全选</label></th>
				<th class="title">主题ID</th>
				<th width="30%" class="title">主题内容</th>
				<th class="end"><span class="level">秘密用户</span></th>
				<th class="level">举报时间</th>
				<th class="op">操作</th>
			</tr>

			{foreach from=$list key=k item=foo}
			<tr class="data">
				<td><input type="checkbox" value="{$foo.id}" name="info_id"></td>
				<td class="title">{$foo.id}</td>
				<td class="title">{$foo.content}</td>
				<td class="end">{if $foo.user_id eq 0}系统用户{else}{$foo.name} | {$foo.mobile}{/if}</td>
				<td class="start">{$foo.create_time|date_format:"%Y-%m-%d"}</td>
				<td class="op">
                {if $foo.status eq 1}
                	<a href="javascript:;" sValue="{$foo.id}" class="statusBtn2">作废</a>
                {elseif $foo.status eq 2}
					已作废
				{/if}
                </td>
			</tr>
			{/foreach}
		</table>
		<div id="pager">
			<span class="total">共{$total}条记录/第{$current}/{$total_num}页</span>
			{section name=total loop=$total_num}
			{if $current eq $smarty.section.total.index+1}
			<span>{$smarty.section.total.index+1}</span>
			{else}
			<a href="/manage/secret/reportsecretlist?page={$smarty.section.total.index+1}{$querypara}">{$smarty.section.total.index+1}</a>
			{/if}
			{/section}
		</div>
	</div>
</div>
	

<script type="text/javascript">
var secretPage = {};
	secretPage.doneAction = function(){
		
		$(".statusBtn0").click(function(){
			console.log($(this).attr('sValue'));
			secretPage.statusAction($(this).attr('sValue'),0);			
		});

		$(".statusBtn1").click(function(){
			console.log($(this).attr('sValue'));
			secretPage.statusAction($(this).attr('sValue'),1);						
		});
		
		$(".statusBtn2").click(function(){
			console.log($(this).attr('sValue'));
			secretPage.statusAction($(this).attr('sValue'),2);						
		});
		
		$("#btn_add").click(function(){
			window.location.href="/manage/secret/secretadd";
		});
						
	}

	secretPage.statusAction = function(id,status){
		var data = {
			'id' : id,
			'status' : status
		};
		
		$.ajax({
			type : 'POST',
			url : {if $header_flag eq 1}'/manage/secret/SecretStatus/'{else}'/manage/secret/reportsecretdel/'{/if},
			data : data,
			dataType : 'json',
			success: function(rdata) {
				if(rdata.code == 1){
					alert(rdata.message);
					window.location.reload();
				}
			},
			error: function() {
				alert("接口调用失败");
			}
		});
		
	}

	secretPage.delAction = function(id){
		var data = {
			'id' : id
		};

		$.ajax({
			type : 'POST',
			url : '/manage/secret/secretDel/',
			data : data,
			dataType : 'json',
			success: function(rdata) {
				if(rdata.code == 1){
					alert(rdata.message);
					window.location.reload();
				}
			},
			error: function() {
				alert("接口调用失败");
			}
		});
	}
	
	secretPage.search=function(gotopage,type){

			var keyword = $('#keyword').val();
			var bgn_date = $('#bgn_date').val();
			var end_date = $('#end_date').val();
			var status = $('#status').val();
			if(gotopage){
				page=gotopage;
			}else{
				page=0;
			}


		};	

	secretPage.init = function(){
		secretPage.doneAction();
		$('#btn_search').click(function(){
			form_search.submit();
			//btn_flag=1;
			//secretPage.search();
		});
	}

secretPage.init();
</script>	
</body>
</html>