<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>菜单管理</title>
<link type="text/css" rel="stylesheet" href="/res/websrc/css/global.css" />
<link href="/res/websrc/UIlib/ligerUI-1.1.9/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<script src="/res/websrc/UIlib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/core/base.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerDialog.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerResizable.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerDrag.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerTree.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerResizable.js" type="text/javascript"></script>
</head>
<body class="normal_wrap">
	<table class="gride_table" width="100%" border="0" cellspacing="0" cellpadding="0" >
		<tr class="table_head">
			<td width="210"">菜单树</td>
			<td>菜单具体信息</td>
		</tr>
		<tr>
			<td height="80%">
				<div style="position:relative;width:200px; height:500px; margin:5px auto; border:1px solid #ccc; overflow:auto; text-align:left">
					<ul id="tree1" class="tree" ></ul>
				</div>	
			</td>

			<td rowspan="2" valign="top">

				<div id="detail_info" style="width:80%; margin:0 auto; margin-top:1cm">
					<table width='100%'  class='inner_table'>
						<tr><td  >菜单ID</td><td  ></td></tr>
						<tr><td  >菜单描述</td><td  ></td></tr>
						<tr><td  >父级菜单</td><td  ></td></tr>
					</table>
				</div>
				<br />
				<div id="operation_btn_lst" class="center">
					<span class="bl_btn"><input type="button" value="修改" onclick="PreShowEditPage();" /></span>&nbsp;
					<span class="bl_btn"><input type="button" value="添加子菜单" onclick="ShowInsertPage('son');" /></span>&nbsp;
					<span class="bl_btn"><input type="button" value="添加兄弟菜单" onclick="ShowInsertPage('father');" /></span>&nbsp;
					<span class="bl_btn"><input type="button" value="删除" onclick="ConfirmDelete();" /></span>
				</div>
			</td>
		</tr>
		<tr>
			<td >
				<div id="search_div">
					<input type=text id=keyword name=keyword value="" />
					<span class="bl_btn"><input name="search" type="button" onclick="Search();" value="查找" /></span>
					<!--
					<span class="or_btn"><input name="expend" type="button" value="展开" onclick="expand();"></span>
					-->
				</div>
			</td>

		</tr> 
	</table>
</body>
{literal}
<script language="javascript" >
	var _selectMenuName = "";
	var _selectMenuID = "";
	var _selectMenuFatherID = "";
	var _currentTreeNode, manager;


	$(function ()
	{
		manager = $("#tree1").ligerTree({
			url: '/admin/menu/selectAll',
			checkbox: false,
			treeLine: true,
			width: '100%',
			idFieldName :'id',
			textFieldName:'name',
			parentIDFieldName :'parent_id',
			onClick: TreeOnClick
		});
		manager.collapseAll();
		window.isCollapsed = true;
	})

	function TreeOnClick(treeNode)
	{
		if (window.isCollapsed) {
			_currentTreeNode=treeNode;
			_selectMenuName = treeNode.data.name;
			_selectMenuID = treeNode.data.id;
			_selectMenuFatherID = treeNode.data.parent_id;
			$.ajax({
				type: 'get',
				url: "/admin/menu/detl?menu_id="+_selectMenuID, 
				dataType: 'json',
				success: ShowMenuInfo
			});
		}
	}

	function ShowMenuInfo(para)
	{
		var content;
		content = "<table % class='inner_table'>";
			content += "<tr><td>菜单编号</td><td>"+para[0]['id']+"</td></tr>";
			content += "<tr><td>菜单</td><td>"+para[0]['name']+"</td></tr>";
			content += "<tr><td>父级菜单ID</td><td>"+para[0]['parent_id']+"</td></tr>";
			content += "<tr><td>菜单URL</td><td>"+para[0]['url']+"</td></tr>";
			content += "<tr><td>创建时间</td><td>"+para[0]['create_time']+"</td></tr>";
			content += "</table>";
		document.getElementById("detail_info").innerHTML=content;
	}

	function Search()
	{
		manager.find( $("#keyword").val());
	}

	function PreShowEditPage()
	{
		// 要先选中一个菜单才能更行
		if(_selectMenuName=="")
		{
			$.ligerDialog.warn("请选择菜单！");
			return;
		}
		$.ajax({
			type: 'get',
			url: '/admin/menu/detl?menu_id='+_selectMenuID, 
			dataType: 'json',
			success: ShowEditPage
		});
	}

	function ShowEditPage(para)
	{			
		var content;
		content = "<table class='inner_table dialog_content' >";
			content += "<tr heigth=80><td>菜单ID</td><td><input type='text' id='menu_id' disabled='disabled' value='"+para[0]['id']+"' ></td></tr>";
			content += "<tr heigth=80><td>父级菜单ID</td><td>"+para[0]['parent_id']+"</td></tr>";
			content += "<tr heigth=80><td>菜单</td><td><textarea id='menu_name'>"+para[0]['name']+"</textarea></td></tr>";
			content += "<tr heigth=80><td>菜单URL</td><td><textarea id='menu_url'>"+para[0]['url']+"</textarea></td></tr>";
			content += "</table>";
		content += "<span class='bl_btn'><input type='button' onclick='EditOperation();' value='更新' ></span>";
		$.ligerDialog.open({title:"修改",width:500, target: content,isResize: true })
	}


	function EditOperation()
	{
		if(document.getElementById('menu_name').value == ""
		|| document.getElementById('menu_url').value == "")
		{
			$.ligerDialog.warn("请填写菜单名称和菜单描述！");
			return;
		}			
		var name = document.getElementById("menu_name").value;
		var fname =_selectMenuFatherID;
		var url = document.getElementById("menu_url").value;//.replace('&','$');
		$.ajax({
			type: 'post',
			url: "/admin/menu/edit",
			data : {
				menu_id : _selectMenuID,
				menu_name : name,
				menu_fid: fname,
				menu_url: url
			},
			dataType: 'json',
			success: EditResult
		});
	}

	function EditResult(str)
	{
		switch(str)
		{
			case 0:
			$.ligerDialog.close();
			$.ligerDialog.success("修改成功");
			ReFreshTree();
			break;
			case 3:
			$.ligerDialog.error('你没有修改菜单权限!');                    
			break;
		}

	}

	function ShowInsertPage(type)
	{
		var lid=type=='son'?_selectMenuID:_selectMenuFatherID;
		if(lid=="")
		lid=0;
		var content;
		content = "<table class='inner_table dialog_content' >";
			content += "<tr><td>菜单ID</td><td><input type='text' id='menu_name' value='' ></td></tr>";
			content += "<tr><td>父级菜单</td><td>"+lid+"</td></tr>";
			content += "<tr><td>菜单描述</td><td><textarea id='menu_desc'></textarea></td></tr>";
			content += "<tr><td>菜单URL</td><td><textarea id='menu_url'></textarea></td></tr>";
			content += "<tr><td>菜单TabID</td><td><textarea id='menu_tabid'></textarea></td></tr>";
			content += "<tr><td>是否默认</td><td><input type='checkbox' id='isdefault'> </td></tr>";
			content += "<tr><td>排序优先级</td><td><textarea id='sortorder'></textarea></td></tr>";
			content += "<tr><td>所属组</td><td><textarea id='accordion'></textarea></td></tr>";
			content += "</table>";
		content += "<span class='bl_btn'><input type='button' onclick='InsertOperation("+lid+");' value='添加' ></span>";
		$.ligerDialog.open({ target: content, isResize: true})
	}

	function InsertOperation(lid)
	{
		if(document.getElementById('menu_name').value == ""
		|| document.getElementById('menu_desc').value == "")
		{
			$.ligerDialog.warn("请填写菜单ID和父级菜单！");
			return;
		}
		var name = document.getElementById('menu_name').value;
		var fname =lid;
		var desc = document.getElementById('menu_desc').value;
		var url = document.getElementById('menu_url').value;
		var tabid = document.getElementById('menu_tabid').value;
		var isdefault = $("#isdefault").attr("checked");
		var sortorder = $("#sortorder").val();
		var accordion = $("#accordion").val();
		$.ajax({
			type: 'post',
			url: '/json.php?mod=Menu&act=add',
			data: {
				menu_name : name,
				menu_fid: fname,
				menu_desc: desc,
				menu_url: url,
				menu_tabid: tabid,
				isdefault: isdefault,
				sortorder: sortorder,
				accordion: accordion
			},
			dataType: 'json',
			success: InsertResult
		});
	}

	function InsertResult(str)
	{
		switch(str)
		{
			case 0:
			$.ligerDialog.close();
			$.ligerDialog.success("添加成功");
			ReFreshTree();
			break;
			case 1:
			$.ligerDialog.error('插入错误！请确认插入正确的数据!');                    
			break;
			case 3:
			$.ligerDialog.error('你没有添加菜单权限!');                    
			break;
		}

	}

	function ReFreshTree()
	{
		manager.refresh();
	}

	function ConfirmDelete()
	{
		if(!_selectMenuID)
		{
			$.ligerDialog.warn("请选中要删除的节点！");
			return;
		}
		$.ligerDialog.confirm("确定要删除"+_selectMenuName+"!",function(choice){if(choice) DeleteItem();});

	}
	function DeleteItem()
	{
		$.ajax({
			type: 'get',
			url: '/json.php?mod=Menu&act=rmv&menu_id='+_selectMenuID, 
			dataType: 'json',
			success: DeleteResult
		});
	}
	function DeleteResult(para) {
		switch(para)
		{
			case 0:
			$.ligerDialog.success("成功删除");
			document.getElementById("detail_info").innerHTML="";
			manager.remove(_currentTreeNode.target);
			break;
			case 2:
			$.ligerDialog.error("不能删除父权限");
			break;
			case 3:
			$.ligerDialog.error("你没有删除权限!");
			break;
		}
	}
</script>
{/literal}
</html>


