<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<link type="text/css" rel="stylesheet" href="/res/websrc/css/global.css" />
<link href="/res/websrc/UIlib/ligerUI-1.1.9/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<script src="/res/websrc/UIlib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/core/base.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerTree.js" type="text/javascript"></script>
<script type="text/javascript">
	$(function (){   
		$("#tree1").ligerTree({  
			url: "/admin/Menu/selectByRoleId?role_id="+window.parent._selectRoleID,
			width: '100%',
			idFieldName :'menu_id',
			textFieldName:'menu_desc',
			parentIDFieldName :'menu_fid'
		});
		manager = $(".l-tree").ligerGetTreeManager();
	});

	function InsertRolemenuRelation()
	{
		var menuIDs=new Array();
		var notes = manager.getChecked();
		for (var i = 0; i < notes.length; i++)
		{
			var parentNode=manager.getParentTreeItem(notes[i].target);
			while(parentNode!=undefined)
			{
				var data=manager.GetDataByHtml(parentNode);
				if($.inArray(data.menu_id, menuIDs)==-1)
				{
					menuIDs.push(data.menu_id);
				}
				parentNode=manager.getParentTreeItem(parentNode);
			}
			menuIDs.push(notes[i].data.menu_id);
		}
		$.ajax({
			type: 'post',
			url: '/admin/RoleMenu/modifyAll?role_id='+window.parent._selectRoleID+'&menu_id='+menuIDs,
			dataType: 'json',
			success: AddResult
		});
	}
	function AddResult(para)
	{
		if(para!=0)
			alert("添加失败,请稍后重试!");
		else
		{
			parent.CloseDialog();
		}
	}

	function Search()
	{
		manager.find( $("#keyword").val());
	}
</script>
</head>
<body style="padding:10px">   
    <div style="width:300px; height:90%; margin:5px auto; border:1px solid #ccc; overflow:auto;  ">
        <ul id="tree1"></ul>
    </div> 
    <div style="width:300px; margin:0 auto; heigth:10%">
        <input type="text" id="keyword" name="keyword" value="">&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="bl_btn"><input type="button" value="查找" onclick="Search();"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span class="bl_btn"><input type='button' onclick='InsertRolemenuRelation();' value='提交' ></span>
    </div>
</body>
</html>
