<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>平台分析</title>
{include file="$menu_path/common_css.htm"}
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
{include file="$menu_path/ligerui_css.htm"}
<link href="/res/websrc/css/index.css" rel="stylesheet" type="text/css" />
<script src="/res/websrc/UIlib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/highcharts/highcharts-4.0.3.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/highcharts/highcharts-3d.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/jquery/common.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/highcharts/modules/exporting.js"></script>
{include file="$menu_path/common_js.htm"}
<style type="text/css">
#table_show_options_sum span { width:150px;display: inline-block;}
#table_show_options_details span { /*width:150px;*/display: inline-block;} 
#table_filter_div span { width:190px;display: inline-block;} 
#show_item_div span { width:190px;display: inline-block;} 
</style>
</head>
<body>

{include file="$menu_path/menu.htm"}

<div class="main" id="main_body">
	<div class="content">
			
		<!-- start highline -->
		<div class="hightline" id="highlight">
			<h3 class="title" id="filter_desc_keydata">截止<span id="date_show">昨日</span> 24:00的统计数据</h3>
			
            <ul class="hight_list" id="highlight_list">
				<li>
					<p class='tit'>累计用户</p>
					<p class='nu' id="total_user">0</p>
				</li>
				<li>
					<p class='tit'>新增用户</p>
					<p class='nu' id="new_user">0</p>
				</li>
				<li>
					<p class='tit'>登录用户</p>
					<p class='nu' id="login_user">0</p>
				</li>
				<li>
					<p class='tit'>活跃用户</p>
					<p class='nu' id="active_user">0</p>
				</li>
			</ul>
		</div>
		<!-- end highline -->
		
		<!-- Start 累计用户趋势图-->
		<div class="mod_list" id="trend_graph">

			<h3 class="title" id="filter_desc_graph">累计用户趋势图<span id="date_desc_graph" class="sub_tit"></span></h3>
			
			<div class="filter filter3" id="graph_detail">
				<div class="filter_inner">
				<div>
				<div class="sel_item" id="show_item_div">
                    <span style="width:640px;">时间单位:
						<select name="time_selector" id="total_user_time" style="width:120px;margin-left:10px;">
							<option value="1">天</option>
							<option value="2">周</option>
							<option value="3">月</option>
						</select>
					</span>
				</div>
				</div>
			</div>
			</div>
			<div class="l-panel-bwarp">
				<div id="stat_content_chart" class="block_content center" style="width:1200px;height:450px;margin-left:50px;"></div>
			</div>
		</div>
		<!-- end 累计用户趋势图-->
		
		
		<!-- Start 活跃用户趋势图 -->
		<div class="mod_list" id="page_sum_table">
	        <h3 class="title" id="filter_desc_table">趋势图<span id="date_desc_table" class="sub_tit"></span></h3>
			<div id="block_title"></div>
	    	
			<div class="filter filter3" id="table_detail">
				<div class="filter_inner">
					<div>
						<div id="table_show_options_div" class="sel_item">
							<span style="width:640px;">时间单位:<select name="zhibiao" id="mix_user_time" style="width:120px;margin-left:10px;">
								<option value="1">天</option>
								<option value="2">周</option>
								<option value="3">月</option>
							</select></span>
						</div>
					</div>
				</div>
				
			</div>
		    <div class="mod_list_bd" style="margin-top:5px;">
		        <div id="stats_content_detail" class="block_content center" style="width:1200px;height:450px;margin-left:50px;"></div>
		    </div>
		</div>
		<!-- End 活跃用户趋势图 -->

		<!-- Begin 用户分布饼图 -->
		<div class="mod_list">
			<h3 class="title" id="filter_desc_table">用户分布饼图<span id="date_desc_table" class="sub_tit"></span></h3>
			<div style="width:1500px;height:400px">
				<div style="width:350px;float:left;margin-left:20px;">
					<div id="provinceCont" style="width:320px;height:400px"></div>
				</div>
				<div style="width:350px;float:left;margin-left:20px;">
					<div id="levelCont" style="width:320px;height:400px"></div>
				</div>
				<div style="width:350px;float:left;">
					<div id="departCont" style="width:320px;height:400px"></div>
				</div>
				<div style="width:350px;float:left;">
					<div id="titleCont" style="width:320px;height:400px"></div>
				</div>
			</div>
		</div>
		<!-- End 用户分布饼图 -->
		
		<!--指标解释 S-->
		<div id="terms_definition_div" class="mod_list id_intr">
		    <h3 class="title">指标解释</h3>
			<p><strong>活跃用户: </strong>登录用户 - 新增用户</p>
			<p><strong>新增用户: </strong>相较于前一天增长的用户数</p>
		</div>
		<!--指标解释 E-->
	</div>
</div>
<script>
{literal}
$(document).ready(function(){
	
var statUser = {};

//调用接口
statUser.cgi = {
	"highlight" : "/Visual/User/totalSummary",
	"totalData" : "/Visual/User/totalDetail",
	"mixData" : "/Visual/User/cumulationData",
	"province" : "/Visual/UserDesc/provinceDis",
	"level" : "/Visual/UserDesc/hospitalLevel",
	"depart" : "/Visual/UserDesc/departDis",
	"titleName" : "/Visual/UserDesc/titleDis",
};

statUser.actionHtml = function (){
	$("#total_user_time").change(statUser.getTotalUser);
	$("#mix_user_time").change(statUser.getMixUser);
}

statUser.init = function (){
	
	statUser.actionHtml();
	statUser.getHighLight();
	statUser.getTotalUser();
	statUser.getMixUser();
	statUser.getProvince();
	statUser.getLevel();
	statUser.getDepart();
	statUser.getTitle();
}

//获取hightline数据
statUser.getHighLight = function(){
	$.ajax({
		type : 'POST',
		url : statUser.cgi.highlight,
		dataType : 'json',
		success: function(rdata) {
			if(rdata.code == 1){
				var data = rdata.data;

				$("#total_user").html(window.G.common.formatInt(1,1,data[0].cumulation_user));
				$("#new_user").html(window.G.common.formatInt(1,1,data[0].new_user));
				$("#login_user").html(window.G.common.formatInt(1,1,data[0].login_user));
				$("#active_user").html(window.G.common.formatInt(1,1,data[0].active_user));
				$("#date_show").text(data[0].datestamp);
			}
		}
	});
};

//获取累计用户数
statUser.getTotalUser = function(){
	
	var params = {};
	params['type'] = $("#total_user_time").val();

	$.ajax({
		type : 'POST',
		url : statUser.cgi.totalData,
		dataType : 'json',
		data: '&' + window.G.common.jsonToUrl(params),
		success: function(rdata) {
			if(rdata.code == 1){
				var graph_data = rdata.data;
				showModColumns(graph_data, 'stat_content_chart');
			}
		}
	});
}

//获取新增、活跃用户数
statUser.getMixUser = function(){
	
	var params = {};
	params['type'] = $("#mix_user_time").val();

	$.ajax({
		type : 'POST',
		url : statUser.cgi.mixData,
		dataType : 'json',
		data: '&' + window.G.common.jsonToUrl(params),
		success: function(rdata) {
			if(rdata.code == 1){
				var data = rdata.data;
				showTimeLines(data, 'stats_content_detail');
			}
		}
	});
}

//用户医院所在省份分布
statUser.getProvince = function(){
	$.ajax({
		type : 'POST',
		url : statUser.cgi.province,
		dataType : 'json',
		success: function(rdata) {
			if(rdata.code == 1){
				var data = rdata.data;
				showPie(data, 'provinceCont', "医生省份分布");
			}
		}
	});
}

//医院等级分布
statUser.getLevel = function(){
	$.ajax({
		type : 'POST', 
		url : statUser.cgi.level,
		dataType : 'json', 
		success: function(rdata) {
			var data = rdata.data;
			showPie(data, 'levelCont', "医院等级分布");
		}
	});
}

//医生科室分布
statUser.getDepart = function(){
	$.ajax({
		type : 'POST', 
		url : statUser.cgi.depart,
		dataType : 'json', 
		success: function(rdata) {
			var data = rdata.data;
			showPie(data, 'departCont', "医生科室分布");
		}
	});
}

//医生职称分布
statUser.getTitle = function(){
	console.log("into function");
	$.ajax({
		type : 'POST', 
		url : statUser.cgi.titleName,
		dataType : 'json', 
		success: function(rdata) {
			var data = rdata.data;
			console.log(data);
			showPie(data, 'titleCont', "医生职称分布");
		}
	});
}

function showPie(rdata, oDiv, title)
{
	if(!rdata)
		return;

	//拼装数据
	var point = [], series = [];
	var tmp_item = [];
	for(var i in rdata){
		tmp_item = [];
		tmp_item.push(rdata[i].field_name);
		tmp_item.push(parseInt(rdata[i].num));
		point.push(tmp_item);
	}

	var r_series = {
		type : 'pie',
		name : '占比',
		data : point
	};
	series.push(r_series);
	// console.log(series);
	//画图
	var chart = new Highcharts.Chart({
		chart: {
            type: 'pie',
            renderTo: oDiv,
			style: {
				fontFamily: '"Lucida Grande", "Lucida Sans Unicode","microsoft yahei",Verdana, Arial, Helvetica, sans-serif', 
				fontSize: '12px'
			},
            options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            }
        },
        title: {
            text: title
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}'
                }
            }
        },
        series : series,
        credits:{
			enabled:false
		},
		exporting:{
			enabled:false
		}
	});

}

function showModColumns(data, oDiv){

	if(!data){
		return;
	}
	
	var d1=[], s_date=[];

	var style_type = 'column';
	
	var series = [];
	
	var data = window.G.common.listSortBy(data, 'datestamp', 'asc');

	for(var i in data){
		s_date.push(data[i].datestamp);
		d1.push(parseInt(data[i].cumulation_user) || null);
	}


	var start_item = {
			name: '累计用户量',
			data: d1
		};

	series.push(start_item);

	var chart = new Highcharts.Chart({
        chart: {
            renderTo: oDiv,
            type: style_type,
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 15, //柱形图倾斜角度
                beta: 15, 
                depth: 50,
                viewDistance: 25
            }
        },
        title: {
            text: '累计用户量'
        },
        subtitle: {
            text: ''
        },
		credits:{
			enabled:false
		},
        plotOptions: {
            column: {
                depth: 25
            }
        },
		xAxis:{
			categories: s_date,
            lineColor:'#e5e5e5',
            tickColor:'#e5e5e5',
            labels:{
            	style:{
            		color:'#7a7a7a',
            	},
            },
            tickPosition:'inside',
            tickLength:4,
            tickmarkPlacement:'on',
			tickInterval: 1
		},
		yAxis:[{
			labels:{
				format:'{value}',
				formatter: function(){
					return window.G.common.formatInt(0,0,this.value);
				},
				style:{
					color:'#f6505c'
				}
			},
			title:{
				enabled:false
			},
			min: 0
		}],
        series: series,
		legend:{
			align:'center',
			verticalAlign:'top',
			borderWidth:0,
			x:380,
			title:{
                style: {
                    fontStyle: 'italic'
                }
            }
		},
		exporting:{
			enabled:false
		}
    });
}

function showTimeLines(data, oDiv){
	if(!data){
		return;
	}

	var d1=[], d2=[], d3=[], s_date=[];

	var style_type = 'line';
	
	var series = [];

	var data = window.G.common.listSortBy(data, 'datestamp', 'asc');

	for(var i in data){
		s_date.push(data[i].datestamp);
		d1.push(parseInt(data[i].login_user));
		d2.push(parseInt(data[i].active_user));
		d3.push(parseInt(data[i].new_user));
	}

	/*console.log(d1);
	console.log(d2);
	console.log(d3);*/

	var start_item = {
			name: '登录用户',
			type:style_type,
			data: d1
		};
	
	series.push(start_item);

	var second_item = {
		name: '活跃用户',
		type:style_type,
		data: d2
	}
	series.push(second_item);

	var third_item = {
		name: '新增用户',
		type:style_type,
		data: d3
	}
	series.push(third_item);


	var chart1 = new Highcharts.Chart({
		title:{
			text:"",
			align:"center",
			style:{
				color: '#b5b5b9',
				fontSize:'14px'
			}
		},
		credits:{
			enabled:false
		},
		chart:{
			renderTo: oDiv,
			style: {
				fontFamily: '"Lucida Grande", "Lucida Sans Unicode","microsoft yahei",Verdana, Arial, Helvetica, sans-serif', 
				fontSize: '12px'
			},
			marginRight:100,
			marginTop:60,
			marginLeft:150
		},
		xAxis:{
			categories: s_date,
            lineColor:'#e5e5e5',
            tickColor:'#e5e5e5',
            labels:{
            	style:{
            		color:'#7a7a7a',
            	},
            },
            tickPosition:'inside',
            tickLength:4,
            tickmarkPlacement:'on',
			tickInterval: 1
		},
		yAxis:[{
			labels:{
				format:'{value}',
				formatter: function(){
					return window.G.common.formatInt(0,0,this.value);
				},
				style:{
					color:'#f6505c'
				}
			},
			title:{
				enabled:false
			},
			min: 0
		}],
		legend:{
			align:'center',
			verticalAlign:'top',
			borderWidth:0,
			x:380,
			itemStyle:{
				fontWeight:'normal',
				color:'#a1a8b4'
			},
			itemHoverStyle: {
				color: '#c9c9c9'
			}
		},
		tooltip:{
			shared:false
		},
		series: series,
		plotOptions:{
			line:{
				marker:{
					fillColor: '#FFFFFF',
                    lineWidth: 2,
                    lineColor: null,
                    symbol: 'circle'
				}
			}
		},
		exporting:{
			enabled:false
		}
	})
}


statUser.init();

});
{/literal}
</script>
</body>
</html>
			
			
					