<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>权限管理</title>
<link type="text/css" rel="stylesheet" href="/res/websrc/css/global.css" />
<link href="/res/websrc/UIlib/ligerUI-1.1.9/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<script src="/res/websrc/UIlib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerDialog.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerResizable.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerDrag.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerTree.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerResizable.js" type="text/javascript"></script>

<style type="text/css">
	body{_width:expression(this.parentNode.offsetHeight > this.parentNode.scrollHeight ? '100%' : parseInt(this.parentNode.clientWidth-10) + 'px');padding:5px;}
	.inner_table{ width:100%; border:#a3c5fd 1px solid; border-collapse:collapse; }
	.inner_table tr td{border:1px solid #a3c5fd;}
</style>
</head>

<body class="normal_wrap">
	<table class="gride_table" width="100%" border="0" cellspacing="0" cellpadding="0" >
		<tr class="table_head">
			<td width='210' >权限树</td>
			<td>权限具体信息</td>
		</tr>
		<tr>
			<td height="80%">
				<div style="position:relative;width:200px; height:500px; margin:5px auto; border:1px solid #ccc; overflow:auto; text-align:left">
					<ul id="tree1" class="tree" style="margin-top:3px;"></ul>
				</div>	
			</td>
			<td rowspan="2" valign="top">
				<div id="detail_info" style="width:80%; margin:0 auto; margin-top:1cm">
					<table width='100%'  class='inner_table'>
						<tr><td width="100" >权限ID</td><td width="100" ></td></tr>
						<tr><td width="100" >权限名称</td><td width="100" ></td></tr>
						<tr><td width="100" >父级权限</td><td width="100" ></td></tr>
					</table>
				</div>
				<br />
				<div id="operation_btn_lst" class="center">
					<span class="bl_btn"><input type="button" value="修改" onclick="PreShowEditPage();" /></span>&nbsp;
					<span class="bl_btn"><input type="button" value="添加子权限" onclick="ShowInsertPage('son');" /></span>&nbsp;
					<span class="bl_btn"><input type="button" value="添加兄弟权限" onclick="ShowInsertPage('father');" /></span>&nbsp;
					<span class="bl_btn"><input type="button" value="删除" onclick="ConfirmDelete();" /></span>
				</div>
			</td>
		</tr>
		<tr>
			<td >
				<div id="search_div">
					<input type=text id=keyword name=keyword value="" />
					<span class="bl_btn"><input name="search" type="button" onclick="Search();" value="查找" /></span>
					<!--
					<span class="or_btn"><input name="expend" type="button" value="展开" onclick="expand();"></span>
					-->
				</div>
			</td>

		</tr> 
	</table>
</body>
<script language="javascript" >

	var _selectPrivilegeName = "";
	var _selectPrivilegeID = "";
	var _selectPrivilegeFatherID = "";
	var _selectPrivilegeDesc = "";

	var _currentTreeNode, manager;

	$(function ()
	{
		manager = $("#tree1").ligerTree({
			url: '/admin/access/selectAll',
			checkbox: false,
			treeLine: true,
			width: '100%',
			idFieldName :'id',
			textFieldName:'title',
			parentIDFieldName :'pid',
			onClick: TreeOnClick
		});
		manager.collapseAll();
		window.isCollapsed = true;
	})

	function TreeOnClick(treeNode)
	{
		if (window.isCollapsed) {
			_currentTreeNode=treeNode;
			_selectPrivilegeName = treeNode.data.privilege_desc;
			_selectPrivilegeID = treeNode.data.privilege_id;
			_selectPrivilegeFatherID = treeNode.data.privilege_fid;
			$.ajax({
				type: 'get',
				url: "/json.php?mod=Privilege&act=detail&privilege_id="+_selectPrivilegeID, 
				dataType: 'json',
				success: ShowPrivilegeorityInfo
			});
		}
	}

	function ShowPrivilegeorityInfo(para)
	{
		var content;
		content = "<table width=100% class='inner_table'>";
			content += "<tr><td>权限编号</td><td>"+para[0]['privilege_id']+"</td></tr>";
			content += "<tr><td>权限ID</td><td>"+para[0]['privilege_name']+"</td></tr>";
			content += "<tr><td>权限名称</td><td>"+para[0]['privilege_desc']+"</td></tr>";
			content += "<tr><td>父级权限</td><td>"+para[0]['privilege_fid']+"</td></tr>";
			var check=para[0]['is_father']==1?'checked':'';
			content += "<tr><td>是否父级权限</td><td><input type='checkbox' disabled id='isFather' "+check+"></td></tr>";
			content += "</table>";
		document.getElementById("detail_info").innerHTML=content;
	}

	function Search()
	{
		manager.find( $("#keyword").val());
	}

	function PreShowEditPage()
	{
		// 要先选中一个权限才能更行
		if(_selectPrivilegeID=="")
		{
			$.ligerDialog.warn("请选择权限！");
			return;
		}
		$.ajax({
			type: 'post',
			url: '/json.php?mod=Privilege&act=detail&privilege_id='+_selectPrivilegeID, 
			dataType: 'json',
			success: ShowEditPage
		});
	}

	function ShowEditPage(para)
	{			
		var content;
		content = "<table class='inner_table' >";
			content += "<tr heigth=80 ><td width=100 >权限ID</td><td width=100 ><input type='text' id='privilege_name' value='"+para[0]['privilege_name']+"' ></td></tr>";
			content += "<tr heigth=80 ><td width=100 >父级权限</td><td  width=100 >"+para[0]['privilege_fid']+"</td></tr>";
			content += "<tr heigth=80 ><td width=100 >权限名称</td><td width=100 ><textarea id='privilege_desc'>"+para[0]['privilege_desc']+"</textarea></td></tr>";
			var check=para[0]['is_father']==1?'checked':'';
			content += "<tr><td>是否父级权限</td><td><input type='checkbox' id='isFather' "+check+"></td></tr>";
			content += "</table>";
		content += "<span class='bl_btn'><input type='button' onclick='EditOperation();' value='更新' ></span>";
		$.ligerDialog.open({title:"修改", target: content })
	}


	function EditOperation()
	{
		if(document.getElementById('privilege_name').value == "")
		{
			$.ligerDialog.warn("请填写权限ID和权限名称！");
			return;
		}			
		var name = document.getElementById("privilege_name").value;
		var fname =_selectPrivilegeFatherID;
		var desc = document.getElementById("privilege_desc").value;
		var isfather = document.getElementById("isFather").checked;
		var data ={
			'privilegeid' : _selectPrivilegeID,
			'privilege_name' : name,
			'privilege_fid':fname,
			'privilege_desc' : desc,
			'isfather' : isfather
		};


		$.ajax({
			type: 'post',
			url: "/json.php?mod=Privilege&act=edit",
			data:data,
			dataType: 'json',
			success: EditResult
		});
	}

	function EditResult(str)
	{
		switch(str)
		{
			case 0:
			$.ligerDialog.close();
			$.ligerDialog.success("修改成功");
			ReFreshTree();
			break;
			case 3:
			$.ligerDialog.error('你没有修改权限!');                    
			break;
		}

	}

	function ShowInsertPage(type)
	{
		var lid=type=='son'?_selectPrivilegeID:_selectPrivilegeFatherID;
		if(lid=="")
		lid=0;
		var content;
		content = "<table  class='inner_table'>";
			content += "<tr><td>权限ID</td><td><input type='text' id='privilege_name' value='' ></td></tr>";
			content += "<tr><td>父级权限</td><td>"+lid+"</td></tr>";
			content += "<tr><td>权限名称</td><td><textarea id='privilege_desc'></textarea></td></tr>";
			content += "<tr><td>是否父权限</td><td><input type='checkbox' id='isFather'></td></tr>";
			content += "</table>";
		content += "<span class='bl_btn'><input type='button' onclick='InsertOperation("+lid+");' value='添加' ></span>";
		$.ligerDialog.open({ target: content })
	}

	function InsertOperation(lid)
	{
		if(document.getElementById('privilege_name').value == ""
		|| document.getElementById('privilege_desc').value == "")
		{
			$.ligerDialog.warn("请填写权限ID和父级权限！");
			return;
		}
		var name = document.getElementById('privilege_name').value;
		var fname =lid;
		var desc = document.getElementById('privilege_desc').value;
		var isFather = document.getElementById('isFather').checked;
		$.ajax({
			type: 'post',
			url: '/json.php?mod=Privilege&act=add',
			data : {
				privilege_name :name,
				privilege_fname :fname,
				privilege_desc: desc
			},
			dataType: 'json',
			success: InsertResult
		});
	}

	function InsertResult(str)
	{
		switch(str)
		{
			case 0:
			$.ligerDialog.close();
			$.ligerDialog.success("添加成功");
			ReFreshTree();
			break;
			case 3:
			$.ligerDialog.error('你没有添加权限!');                    
			break;
		}

	}

	function ReFreshTree()
	{
		manager.refresh();
	}

	function ConfirmDelete()
	{
		if(!_selectPrivilegeID)
		{
			$.ligerDialog.warn("请选中要删除的节点！");
			return;
		}
		$.ligerDialog.confirm("确定要删除"+_selectPrivilegeName+"!",function(choice){if(choice) DeleteItem();});

	}
	function DeleteItem()
	{
		$.ajax({
			type: 'post',
			url: '/json.php?mod=Privilege&act=delete&privilege_id='+_selectPrivilegeID, 
			dataType: 'json',
			success: DeleteResult
		});
	}
	function DeleteResult(para) {
		switch(para)
		{
			case 0:
			$.ligerDialog.success("成功删除");
			document.getElementById("detail_info").innerHTML="";
			manager.remove(_currentTreeNode.target);
			break;
			case 2:
			$.ligerDialog.error("不能删除父权限！");
			break;
			case 3:
			$.ligerDialog.error("你没有删除权限!");
			break;
		}
	}
</script>
</html>


