<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	    <meta name="viewport" content="initial-scale=1, user-scalable=0, minimal-ui">
	    <style type="text/css">
	    	body{font-family: '微软雅黑';background-color: #232227;color: #bababa;margin: 0;}
	    	h1{text-align: center;}
	    	li{/*margin-left: 1em;*/}
	    	span.red{color: #FF0000;font-weight: bold;padding:0 0.5em;}
	    	h3,h4,h5{text-align: center;}
	    	img{width:100%;margin:0;padding:0;}
	    	.top_img{height:12.5rem;float: right;}
	    	.introduce{float: left;margin: -10rem 0 0 2rem}
	    	.content{float:left;margin-top:0rem;padding: 1rem;}
	    	.name,.nandu,.detail{color:white;}
	    	.name{margin-top: 3rem;font-size: 1.2rem;}
	    	.detail{line-height: 0rem;}
	    	.star{width: 8%;margin-left: 2px;}
	    </style>
	    <title>名词介绍</title>
	</head>
	<body>
	<div class='easy_run' hidden>
		<img src = '/static/images/shade@2x.png' class='top_img'>
		<div class='introduce'>
		<p class='name'>轻松跑</p>
		<p class='nandu'>难度系数 <img src="/static/images/onestar@2x.png" class="star"></p>
		<p class='detail'>热身、放松、调整状态</p>
		</div>
		<div class='content'>
		<p>
		轻松者，意即不感到有负担，不紧张；“轻松跑”，慢跑之谓也，就是以适合自己的速度，按照科学的心率配速，放松、愉悦而较为慢些的跑步。
		</p>
		</div>
	</div>
	<div class='mara_run' hidden>
		<img src = '/static/images/shade@2x.png' class='top_img'>
		<div class='introduce'>
		<p class='name'>马拉松配速跑</p>
		<p class='nandu'>难度系数 <img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"></p>
		<p class='detail'>提升力量和速度</p>
		</div>
		<div class='content'>
		<p>
		配速是在马拉松运动的训练中常使用的一个概念，是英文pace的音译。我们常说的速度通常指一分钟/一小时跑多少距离（距离/时间）；而配速是速度的一种，是每公里所需要的时间（时间/距离）， 是在耐力跑运动中最重要的一项能力。  
		比如你的马拉松是4小时完赛，那么马拉松全程配速是5分41秒，那么马拉松配速跑就是要按照5分41的速度进行一定距离的训练，让身体适应这个配速。不过由于比赛起跑后，你一般会跑得较慢，所以平时训练的配速可以提高5-10秒，以保证比赛时能达到平均5分41秒的配速。
		</p>    
		<b>提升力量和速度</b>
　　	<p>
		马拉松配速跑拉松配速训练就是最好的提高慢肌（耐力肌肉细胞）耐力的训练之一。不只是长距离跑或是更快的频率，马拉松配速训练能增加慢肌细胞的有氧能力，生成更多毛细血管用于为这些细胞输送更多氧气，提高细胞乳酸排出和降低乳酸堆积的能力，并提升跑步效率——相当于让车更省油。
		</p>                             
		<b>如何进行马拉松配速训练</b>
		<p>主要是根据自己的能力对照马拉松配速表进行预估。如果你目前还不知道自己的马拉松配速，这里还有两个方法：</p>         
		<p>5K跑20分钟以内的跑者目标是比目前的5K配速每公里慢30-35秒；更慢的跑者要比5K配速每公里慢40秒。这被戏称作“慢速节奏跑”。因为它比你日常跑步的配速快，但比15K到半马的配速慢，这种速度也被推荐为节奏跑。</p>
		<p>如果你是新手，那你的马拉松配速训练目标可能只比你通常距离配速快一点儿。这种情况下，可以用呼吸感受做指南。对长跑来说，你日常的训练强度应该总是维持在对话程度上。在马拉松配速下，你的呼吸明显加快，除了简短的、两三个词之外，对话应该是不舒服的。</p>
		</div>
	</div>
	<div class='rusuan_run' hidden>
		<img src = '/static/images/shade@2x.png' class='top_img'>
		<div class='introduce'>
		<p class='name'>乳酸门槛跑</p>
		<p class='nandu'>难度系数 <img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"></p>
		<p class='detail'>提升耐力</p>
		</div>
		<div class='content'>
		<p>
		乳酸门槛跑，也就是英文说的Tempo跑。
		人体运动，血液里乳酸（Lactate Acid）浓度就升高，氧气通过心脏和跳动血液循环输到身体内可以稀释乳酸浓度。运动强度越高，乳酸在血液里积累的就越快；同时心脏加速跳动，氧气更快的被输送到血管里去稀释乳酸浓度。到一定速度，这积累和稀释速度平衡。这个平衡点就是常说的乳酸门槛（Lactate Threshold，简称LT）。
		</p>  
		<p>		
		如何提高乳酸门槛呢？最直观的方法是多在乳酸门槛附近转悠。太高太低都不好。跨过当前门槛，然后在继续冲击新的乳酸门槛，寻求不断提高。麻烦是精确测试乳酸门槛，只有需要通过验血。对我们来说，只能通过经验公式。一个通常的说法是我们全速50-60分钟的速度。个人可以把自己的比赛成绩套到跑吧计算器里找到这个速度。
		</p>  
		<p>跨乳酸门槛跑就是争取以乳酸门槛的速度跑20分钟。这是半马和马拉松训练里最重要的速度训练。个人以为，对我们来说，一直到5公里训练都是如此。</p>
　　	<p>
		以下介绍三种在美国最常见的跑法：
		</p>                             
		<b>1）Hal Higdon法 </b>
		<p>以乳酸门槛的速度持续跑20分钟不是件容易的事，新手是跑不了的。Hal的方法好掌握。热身跑3-5公里，慢慢加速，加到乳酸门槛的速度左右保持3-5分钟，慢慢减速，然后放松跑收工。个人按自己能力去跑，逐渐加长。</p>
		<b>2）间歇跑</b>         
		<p>快跑距离从800到3200米，恢复从30到60秒不等。显然这个距离越长，恢复时间越短，难度越大。恢复时间不必认真，凑个200米的整距离，方便就行。快跑以乳酸门槛的速度跑。这里的短恢复时间是特意的，为了不让乳酸浓度降的太多。组数一般8-10 组。个人按自己的能力，先易后难，尝试到合适的距离。</p>
		<b>3）快速持续跑（Fast Continuous Run，简称FCR) </b>
		<p>这个顾名思义，热身，慢慢加速，然后一直按乳酸门槛速度跑下去，5-20分钟，慢慢减速，最后放松跑收工。这个方法底线实际上就是Hal Higdon的方法，跑到20分钟上限是很有一些难度，但效果也好。有余力可延长热身时间，增加点距离。</p>
		<p>跨乳酸门槛跑不是一个强度很小的训练，热身和冷却要充足，防止受伤。同时热身和冷却长也增加了训练的总里程。</p>
		<p>
		三种方法1和3都是连续的，更接近路跑。第2种是强度相对低的间歇，有利于积累间歇跑的经验。第3种强度最大，新手应先试前2种。
		</p>
		</div>
	</div>
	<div class='jianxie_run' hidden>
		<img src = '/static/images/shade@2x.png' class='top_img'>
		<div class='introduce'>
		<p class='name'>间歇训练</p>
		<p class='nandu'>难度系数 <img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"></p>
		<p class='detail'>提升心肺机能，增长有氧耐力</p>
		</div>
		<div class='content'>
		<p>
		间歇训练法是指对多次练习时的间歇时间作出严格的规定，使机体处于不完全恢复的状态下，反正进行练习的训练方法（运动训练学）。通过间歇训练，可以使选手的心血管功能得到明显的增强。
		</p>  
		<p>		
		间歇训练时，在两次练习之间的间歇要进行强度较低的练习，而不是完全休息。如在利用跑动进行训练时，间歇时要进行慢跑或快走，而不是静坐休息。由于间歇训练对练习的距离、强度及每次练习的间歇时间有严格的规定，一般情况下，不会等到身体完全恢复就开始下一次练习，因此，对身体机能要求较高，能引起身体结构、机能及生物化学等方面较深刻的变化，建议在一定的训练基础上进行练习。
		</p>  
　　	<p>
		间歇训练的特点有几下两点：
		</p>                             
		<b>1、完成的总量和总强度大</b>
		<p>在间歇训练中，采用一定的负荷，可以比持续训练法能完成更大的工作量。并且用力少，而呼吸、循环系统和物质代谢等功能都可以得到较大的提高。如进行万米跑，比赛成绩最好为40分钟，这样每公里的速度为4分，可坚持跑10公里。如果采用间歇训练，用4分钟跑1000米，间歇4分钟，可以跑上12组或更 多，总量会超出比赛距离。如果采用3分50秒一公里的速度来跑间歇，间歇4分钟，总量可以达到10000米，但速度也要超出比赛速度。一般来讲，对于发展有氧耐力来说，总的工作量远比强度更为重要。因此在马拉松项目的间歇训练中，要采用总距离或时间稍长（时间在6－12分或、距离在1600－3000米），强度超过比赛配速的速度来进行训练为宜。</p>
		<b>2、对心肺机能的影响大</b>         
		<p>间歇训练法是对内脏器官尤其是心血管系统进行训练的一种有效的手段，在间歇期内，运动器官得到休息，而心血管和呼吸系统的活动仍处于较高水平。如果运动时间较短，练习期间肌肉运动引起的内脏机能的变化，都是在间歇期达到较高水平。因此，无论在运动时还是在间歇休息期，都可以使呼吸和循环系统承受较大的负荷。经常进行间歇训练，能使心血管系统得到明显的锻炼，特别是心脏工作能力以及最大摄氧能力得到显著提高。</p>
		<p>
		在马拉松训练中，间歇训练是增长有氧耐力，提高最大摄氧量下跑动速度的有效方法。但在实践中的使用要根据个体的不同体质、不同的训练水平以及不同的项目特点，科学合理的安排每次练习的距离、强度及间歇时间。进行间歇训练时，工作时间与休息时间之比应逐渐从3：1变成 2：1。为取得最大训练效果，高强度的间歇训练只能进行6—8周，为使选手获得最佳机能状态，在比赛前2周应减少间歇训练的总次数，使运动员有时间进行恢复。
		</p>
		</div>
	</div>
	<div class='repeat_run' hidden>
		<img src = '/static/images/deskbg.jpg' class='top_img'>
		<div class='introduce'>
		<p class='name'>重复训练</p>
		<p class='nandu'>难度系数 <img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"><img src="/static/images/onestar@2x.png" class="star"></p>
		<p class='detail'>增强速度耐力、肌肉力量，提升无氧能力</p>
		</div>
		<div class='content'>
		<p>
		重复训练方法是按指定的时间，多次重复某一距离的方法，间歇时间的控制应使呼吸和心率基本恢复。它的目的是发展速度、速度耐力、肌肉力量，还可以培养比赛速率。学习分配体力，感受比赛技术，增加经验。重复训练是以强度训练为中心的训练方法，对中枢神经系统的兴奋与抑制的转换、大脑皮层也肌肉的协调能力要求较高。运用重复训练法可以提高无氧酵解的供能能力和对乳酸的缓冲能力、耐受乳酸的能力，使无氧能力得到提高。
		</p>  
		巧妙的组合是重复训练法的核心。<br> 
　　	<p>
		马拉松跑巧妙组合重复训练法是：选用10公里、5公里、3公里、2公里距离的组合。水平高的马拉松选手可以选用15公里、10公里、8公里组合为一节训练课。一定要选用田径场与公路交叉训练，避免受伤，保证训练衔接性。训练强度为固定的节奏。组与组休息时间以心率90次/分为限，随着能力的提高，休息时间以心率提高5次/分增长的频率训练。这样训练主要是为了增强混氧代谢的能力，最后达到增加无氧代谢训练的能力。只要坚持周期性，系统性，巧妙组合训练就能达到最高水平。
		</p>                             
		</div>
	</div>
	<script type="text/javascript" src="/static/js/zepto.min.js"></script>
	<script type="text/javascript">
		var param = '{{data}}'
		$(document).ready(function(){
			$('.'+param).show();
		});
	</script>
	</body>
</html>