<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{include file="$menu_path/common_css.htm"}
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<title>首页轮播</title>
<script type="text/javascript" src="/res/js/jquery.min.js"></script>
<script type="text/javascript" src="/res/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/res/js/jquery.md5.js"></script>
<script type="text/javascript" src="/res/js/loginstatus.js"></script>
<style>
table {
	font-size:14px;
	text-align:center;
}
</style>
</head>
<body>

{include file="$menu_path/menu.htm"}

<div id="main_body">
	<header>
		<!--<label>状态：<select id="status" name="status"><option value="0">--全部--</option>
				<option value="1">有效</option>
				<option value="2">无效</option>
			</select>	
		</label>
		<label><button id="btn_search">搜 索</button></label>-->
		<label><button id="btn_add">新 增</button></label>
	</header>
	<hr />
	<div id="content">
		<table id='datalist'>
			<tr>
				<th class="check"><input type="checkbox" id='checked' /><label for="checked">全选</label></th>
				<th class="imageUrl">图片</th>
				<th class="url">链接</th>
				<th class="title">标题</th>
				<th class="start">开始时间</th>
				<th class="end">结束时间</th>
				<th class="level">优先级</th>
				<th class="status">状态</th>
				<th class="op">操作</th>
			</tr>

			{foreach from=$list key=k item=foo}
			<tr class="data">
				<td><input type="checkbox" value="{$foo.id}" name="info_id"></td>
				<td class="imageUrl"><img width="350" height="100" src="/res/{$foo.imgurl}" /></td>
				<td class="url">{$foo.url}</td>
				<td class="title">{$foo.title}</td>
				<td class="start">{$foo.start_time|date_format:"%Y-%m-%d"}</td>
				<td class="end">{$foo.end_time|date_format:"%Y-%m-%d"}</td>
				<td class="level">{$foo.level}</td>
				<td class="status">{if $foo.status eq 2}删除{else if $foo.status eq 1}已发布{else}未审核{/if}</td>
				<td class="op"><a href="javascript:;" sValue="{$foo.id}" class="editBtn">编辑</a>{if $foo.status eq 0} | <a href="javascript:;" sValue="{$foo.id}" class="pubBtn">发布</a>{/if} | <a href="javascript:;" sValue="{$foo.id}" class="delBtn">删除</a></td>
			</tr>
			{/foreach}
		</table>
		<div id="pager">
			<span class="total">共{$total}条记录/第{$current}/{$total_num}页</span>
			{section name=total loop=$total_num}
			{if $current eq $smarty.section.total.index+1}
			<span>{$smarty.section.total.index+1}</span>
			{else}
			<a href="/manage/focus/focuslist?page={$smarty.section.total.index+1}">{$smarty.section.total.index+1}</a>
			{/if}
			{/section}
		</div>
	</div>
</div>
	

<script type="text/javascript">
var focusPage = {};
	focusPage.doneAction = function(){
		
		$(".editBtn").click(function(){
			console.log($(this).attr('sValue'));
			window.location.href = "/manage/focus/focusshow?id="+$(this).attr('sValue');
		});

		$(".delBtn").click(function(){
			console.log($(this).attr('sValue'));
			focusPage.delAction($(this).attr('sValue'));
		});

		$(".pubBtn").click(function(){
			console.log($(this).attr('sValue'));
			focusPage.pubAction($(this).attr('sValue'));
		})

		$("#btn_add").click(function(){
			window.location.href = "/manage/focus/focusadd";
		})
	}

	focusPage.delAction = function(id){
		var data = {
			'id' : id
		};

		$.ajax({
			type : 'POST',
			url : '/manage/focus/focusdel/',
			data : data,
			dataType : 'json',
			success: function(rdata) {
				if(rdata.code == 1){
					alert(rdata.message);
					window.location.reload();
				}
			},
			error: function() {
				alert("接口调用失败");
			}
		});
	}

	focusPage.pubAction = function(id){
		var data = {
			'id' : id
		};

		$.ajax({
			type : 'POST',
			url : '/manage/focus/focuspub/',
			data : data,
			dataType : 'json',
			success: function(rdata) {
				if(rdata.code == 1){
					alert(rdata.message);
					window.location.reload();
				}
			},
			error: function() {
				alert("接口调用失败");
			}
		});
	}

	focusPage.init = function(){
		focusPage.doneAction();
	}

focusPage.init();
</script>	
</body>
</html>