<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<title>活跃用户留存</title>
{include file="$menu_path/common_css.htm"}
{include file="$menu_path/common_js.htm"}

<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<link rel="stylesheet" type="text/css" media="all" href="/res/JqueryUI/jquery-ui.min.css" />
<link href="/res/websrc/css/index.css" rel="stylesheet" type="text/css" />
<script src="/res/websrc/UIlib/jquery/jquery-1.5.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/res/JqueryUI/jquery-ui.min.js"></script>
<script src="/res/websrc/UIlib/jquery/common.js" type="text/javascript"></script>

<script src="/res/websrc/UIlib/highcharts/highcharts-4.0.3.js" type="text/javascript"></script>
<script src="/res/websrc/UIlib/highcharts/modules/exporting.js"></script>
{include file="$menu_path/ligerui_css.htm"}
{include file="$menu_path/ligerui_js.htm"}

<style type="text/css">
#table_show_options_sum span { width:150px;display: inline-block;}
#table_show_options_details span { /*width:150px;*/display: inline-block;} 
#table_filter_div span { width:190px;display: inline-block;} 
#show_item_div span { width:190px;display: inline-block;} 
</style>

</head>
<body>
{include file="$menu_path/menu.htm"}
<div id="left">
	<div id="userinfo">
		<span id='userName'></span>
	</div>
	<nav>
		{include file="$menu_path/menu.htm"}
	</nav>
</div>
<div class="main" id="main_body">
	<header>
		<label>选取时间段：<input type="text" name='pub_date' id="bgn_date" value=""/>至
							<input type="text" name='pub_date' id="end_date" value="" />
		</label>
		<label><button id="btn_search">搜 索</button></label>
	</header>
	<hr />
	<div id="content">
		<div id="page_sum_table">
		    <div>
		        <div id="stats_content_detail" class="block_content center" style="width:1200px;height:450px;margin-left:50px;"></div>
		    </div>
		</div>
		
	</div>
</div>
<script>
{literal}
$(document).ready(function(){
	
var retainActive = {};

// var type = 1; //全局变量

//调用接口
retainActive.cgi = {
	"mixData" : "/Visual/UserDesc/activeUserRetain",
	// "mixRate" : "/Visual/UserDesc/userRetainRate",
	// "mixTable" : "/Visual/UserDesc/userRetainTable",
};

function getDateStr(addDayCnt)
{
	var dd = new Date();
	dd.setDate(dd.getDate() + addDayCnt);
	var y = dd.getFullYear();
	var m = dd.getMonth() + 1;
	var d = dd.getDate();
	if(m < 10)
		m = '0' + m;
	if(d < 10)
		d = '0' + d;
	return y + '-' + m + '-' + d;
}

retainActive.actionHtml = function (){
	// 默认显示7天的数据
	$("#bgn_date").val(getDateStr(-6));
	$("#end_date").val(getDateStr(0));
	
	// $("#mix_user_time").change(retainActive.getMixUser);
}

retainActive.init = function (){
	$("#bgn_date").datepicker({
		dateFormat: "yy-mm-dd"
	});
	$("#end_date").datepicker({
		dateFormat: 'yy-mm-dd'
	});
	// 搜索按钮点击
	$("#btn_search").click(function(){
		var check_re = retainActive.checkDate();
		if(check_re)
			retainActive.getMixUser();
	});

	retainActive.actionHtml();
	retainActive.getMixUser();
	// retainActive.getDetailInfo();
}

// 验证时间的合法性
retainActive.checkDate = function(){
	var bgn = $("#bgn_date").val();
	var end = $("#end_date").val();
	// console.log(bgn);
	// console.log(end);
	if(bgn == '' || end == '' || bgn >= end)
	{
		alert("请选择合法的时间范围");
		return false;
	}
	else
		return true;		
}


//每天对应的各项留存率指标
retainActive.getMixUser = function(){
	var params = {};
	params['bgn_date'] = $("#bgn_date").val();
	params['end_date'] = $("#end_date").val();
	// params['bgn_date'] = '2015-07-10';
	// params['end_date'] = '2015-07-15';
	$.ajax({
		type : 'POST',
		url : retainActive.cgi.mixData,
		dataType : 'json',
		data: '&' + window.G.common.jsonToUrl(params),
		success: function(rdata) {
			if(rdata.code == 1){
				var data = rdata.data;
				//visiable 设置
				// $("#stats_content_detail").css("display","block");
				// $("#stats_content_rate").css("display","none");
				showArea_detail(data, 'stats_content_detail');
			}
		}
	});
	
}


function showArea_detail(data, oDiv){
	// console.log(data);
	var s_date = [], series = [];
	var series_1 = [], series_2 = [],series_3 = [], series_4 = [], series_5 = [], series_6 = [], series_7 = [], series_14 = [], series_30 = [];
	for(var i in data){
		s_date.push(data[i].date);
		series_1.push(data[i].retain_1);
		series_2.push(data[i].retain_2);
		series_3.push(data[i].retain_3);
		series_4.push(data[i].retain_4);
		series_5.push(data[i].retain_5);
		series_6.push(data[i].retain_6);
		series_7.push(data[i].retain_7);
		series_14.push(data[i].retain_14);
		series_30.push(data[i].retain_30);
	}

	var item_1 = {
		name : '次日留存', 
		data : series_1
	}

	var item_2 = {
		name : '2天留存', 
		data : series_2
	}

	var item_3 = {
		name : '3天留存',
		data : series_3
	};

	var item_4 = {
		name : '4天留存',
		data : series_4
	};

	var item_5 = {
		name : '5天留存',
		data : series_5
	};

	var item_6 = {
		name : '6天留存',
		data : series_6
	};

	var item_7 = {
		name : '7天留存',
		data : series_7
	};

	var item_14 = {
		name : '14天留存',
		data : series_14
	};

	var item_30 = {
		name : '30天留存',
		data : series_30
	};

	series.push(item_1);
	series.push(item_2);
	series.push(item_3);
	series.push(item_4);
	series.push(item_5);
	series.push(item_6);
	series.push(item_7);
	series.push(item_14);
	series.push(item_30);

	// console.log(s_date);
	// console.log(series);

	// 画图
    var chart = new Highcharts.Chart({
        chart: {
            type: 'area',
            renderTo: oDiv,
        },
        title: {
            text: '用户留存率'
        },
        // subtitle: {
        //     text: 'Source: thebulletin.metapress.com'
        // },
        xAxis: {
        	categories: s_date,
            // labels: {
            //     formatter: function() {
            //         // return this.value; 
            //     }
            // }
        },
        yAxis: {
            title: {
                text: '用户留存百分比（%）'
            },
            // labels: {
            //     formatter: function() {
            //         return this.value / 1000 +'k';
            //     }
            // }
        },
        tooltip: {
            pointFormat: '{series.name} <b>{point.y:,.1f}%</b><br/>on {point.x}'
        },
        plotOptions: {
            area: {
                // pointStart: 1940,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        },
        series: series
    });
}

retainActive.init();

});
{/literal}
</script>
</body>
</html>
			
			
					