<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="/res/websrc/UIlib/ligerUI-1.1.9/skins/Aqua/css/ligerui-dialog.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<title>资讯评论列表</title>
<script type="text/javascript" src="/res/websrc/UIlib/jquery/jquery-1.5.2.min.js"></script>
<script type="text/javascript" src="/res/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/res/js/jquery.md5.js"></script>
<script type="text/javascript" src="/res/js/loginstatus.js"></script>
<script type="text/javascript" src="/res/websrc/UIlib/ligerUI-1.1.9/js/core/base.js"></script>
<script type="text/javascript" src="/res/websrc/UIlib/ligerUI-1.1.9/js/plugins/ligerDialog.js"></script>
<style>
table {
	font-size:14px;
	text-align:center;
}
</style>
</head>
<body>
<div id="left">
	<div id="userinfo">
		<span id='userName'></span>
	</div>
	<nav>
		{include file="$menu_path/menu.htm"}
	</nav>
</div>
<div id="main_body">
	<header>
		<p></p>
		<div><input type="button" name="add_comment" id="add_comment" value="发表评论" /></div>
	</header>
	<hr />
	<div id="content">
		<table id='datalist'>
			<tr id="headerlist">
				<th class="check"><!--<input type="checkbox" id='checked' />--><label for="checked">全选</label></th>
				<th class="commentID">评论ID</th>
				<th class="comment">评论人</th>
				<th width="30%" class="content">内容</th>
				<th class="time">评论时间</th>
				<th class="top">是否加精</th>
				<th class="status">评论状态</th>
				<th class="op">操作</th>
			</tr>

			{foreach from=$items key=k item=foo}
			<tr class="data">
				<td><input type="checkbox" value="{$foo.comment_id}" name="comment_id"></td>
				<td class="commentID">{$foo.comment_id}</td>
				<td class="comment">{$foo.nick_name}</td>
				<td class="content">{$foo.content}</td>
				<td class="time">{$foo.time|date_format:"%Y-%m-%d"}</td>	
				<td class="top"></td>
				<td class="status">{if $foo.status eq 1}正常{else}已删除{/if}</td>
				<td class="op">{if $foo.status eq 1}<a href="javascript:;" sValue="{$foo.comment_id}" class="delBtn">删除</a> {if $foo.is_top eq 0}<a href="javascript:;" sValue="{$foo.comment_id}" class="topBtn">加精</a>{else}<a href="javascript:;" sValue="{$foo.comment_id}" class="untopBtn">取消加精</a>{/if}{/if} {if $foo.status neq 1}<a href="javascript:;" sValue="{$foo.comment_id}" class="rebackBtn">撤销删除</a>{/if}</td>			
			</tr>
			{/foreach}
		</table>
		<div id="pager">
			<span class="total">共{$total}条记录/第{$current}/{$total_num}页</span>
			{section name=total loop=$total_num}
			{if $current eq $smarty.section.total.index+1}
			<span>{$smarty.section.total.index+1}</span>
			{else}
			<a href="/paper/news/newscommentlist?id={$nid}&page={$smarty.section.total.index+1}">{$smarty.section.total.index+1}</a>
			{/if}
			{/section}
		</div>
	</div>
</div>
	

<script type="text/javascript">
var commentList = {};
	commentList.m = '';
	commentList.doneAction = function(){
		
		$(".delBtn").click(function(){
			commentList.modifyAction($(this).attr('sValue'), 1);
		});

		$(".rebackBtn").click(function(){
			commentList.modifyAction($(this).attr('sValue'), 2);
		});

		$(".topBtn").click(function(){
			commentList.modifyAction($(this).attr('sValue'), 3);
		});

		$(".untopBtn").click(function(){
			commentList.modifyAction($(this).attr('sValue'), 4);
		});

		$("#add_comment").click(function(){ 
			commentList.m = $.ligerDialog.open({ url: '/paper/news/infocommentpost?nid={$nid}',height: 800, width: 850, isResize:false });
		});
	}

	commentList.modifyAction = function(id, type){
		var data = {
			'id' : id,
			'type' : type
		};

		$.ajax({
			type : 'POST',
			url : '/paper/news/newscommentmodify',
			data : data,
			dataType : 'json',
			success: function(rdata) {
				if(rdata.code == 1){
					alert(rdata.message);
					window.location.reload();
				}
			},
			error: function() {
				alert("接口调用失败");
			}
		});
	}

	commentList.init = function(){
		commentList.doneAction();
	}

	function CloseDialog(){
		//$.ligerDialog.close();
		commentList.m.hide();
	}

commentList.init();
</script>	
</body>
</html>