<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" media="all" href="/res/JqueryUI/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<link rel="stylesheet" type="text/css" media="all" href="/res/JqueryUI/jquery-timepicker-addon.css" />
<link rel="stylesheet" type="text/css" media="all" href="/res/websrc/css/autocomplete.css" />
<title>原创文章（新建）</title>
<script type="text/javascript" src="/res/js/jquery.min.js"></script>
<script type="text/javascript" src="/res/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/res/Ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/res/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/res/js/jquery.md5.js"></script>
<script type="text/javascript" src="/res/js/loginstatus.js"></script>
<script type="text/javascript" src="/res/Uploadify/ajaxfileupload.js"></script>
<script type="text/javascript" src="/res/JqueryUI/jquery-ui.min.js"></script>
<script type="text/javascript" src="/res/JqueryUI/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/res/websrc/UIlib/jquery/autocomplete.js"></script>
<script type="text/javascript" src="/res/js/news.js"></script>
<style>
{literal}
#oppanel input[type="button"] {
    display: inline;
}

{/literal}
</style>
</head>
<body>
<div id="left">
	<div id="userinfo">
		<span id='userName'></span>
	</div>
	<nav>
		{include file="$menu_path/menu.htm"}
	</nav>
</div>
<div id="main_body">
	<div id="content">
		<form id="form_detail" method="post">
			<div><label style="color:red;">*号必填</label></div>
			<div>
			<label>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：<select name="category_type" id="category_type" style="width:180px;">
					<!--<option value='1'>新闻</option>
					<option value='2'>心血管资讯</option>
					<option value='0'>无</option>-->
					</select>&nbsp;&nbsp;<span style="color:red;">*</span>
			</label>
			</div>
			<div>
			<label>标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签：<select name="label_type" id="label_type" style="width:180px;">
					<!--<option value="1">指南</option>
					<option value="2">临床研究</option>
					<option value="3">病例分析</option>-->
					<!--<option value='0'>无</option>
					<option value='1'>推广</option>
					<option value='2'>深度解读</option>
					<option value='3'>指南</option>
					<option value='4'>临床研究</option>
					<option value='5'>病例分析</option>
					<option value='6'>会议</option>
					<option value='7'>推荐</option>
					<option value='8'>热点</option>-->
					</select>&nbsp;&nbsp;<span style="color:red;">*</span>
			</label>
			</div>
			<div>
			<label>标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：<input type="text" id="title" name="title" style="width:50%" />&nbsp;&nbsp;<span style="color:red;">*</span></label>
			</div>
			<div>
			<label>副&nbsp;标&nbsp;题：<input type="text" id="sub_title" name="sub_title" style="width:50%" /></label>
			</div>
			<div>
				<label>发布时间：<input type="text" id="pub_date" name="pub_date" />&nbsp;&nbsp;<span style="color:red;">*</span></label>
			</div>
			<div>
			<!--<label>关&nbsp;键&nbsp;字：<input type="text" id="keys" name="keys" style="width:50%" />&nbsp;&nbsp;(多个关键字请以逗号,分隔)</label>-->
				<label>关&nbsp;键&nbsp;字：<input type="text" id="keys" name="keys" style="width:30%" /></label>
				<label id="keywords"></label>
			</div>
			<div>
				<label>原文链接：<input type="text" id="url" name="url" style="width:50%" /></label>
			</div>
			<div>
				<label>来&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;源：<input type="text" id="source" name="source" style="width:50%" /></label>
			</div>
			<div>
				<label>是否推荐：
					<input type="radio" value="1" name="is_focus" />是
					<input type="radio" value="0" name="is_focus" checked="checked" />否
				</label>
				<br>
			</div>
			<!--<div>
				<label>优&nbsp;先&nbsp;级：<select name="level_num" id="level_num" style="width:180px;">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					</select>
				</label>
			</div>-->
			<br />
			<div>
				<label>正&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文：</label>
				<br />
			</div>
			<div>
				<textarea id="main" ></textarea>
			</div>
			<div>
				<label>图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片：</label>
				<label><input type="file" name="uploadify" id="uploadify"></label>
				<label><input type="button" id="uploadBtn" value="上传" /></label>
				<label><img id="img1" /><input type="hidden" id="img_val"></label>
				<br />
			</div>
			
			<div id="oppanel">
				<input type="button" id='btn_save' value="保存" />
				<!--<input type="button" id='btn_preview' value="预览" />-->
				<!--<input type="button" id='btn_publish' value="发布" />-->
			</div>
		</form>
			
		
	</div>
	</div>
{literal}
<script type="text/javascript">
	
$().ready(function(){

var paperAdd = {}; //namespace

var today = new Date();

paperAdd.init = function(){

	paperAdd.main_editor = UE.getEditor('main',{
		imageUrl: '/paper/news/uploadeditorimg',
		zIndex: 1
	});

	$("#pub_date").datetimepicker({
		dateFormat: "yy-mm-dd",
		timeFormat: "HH:mm:ss",
		maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), 23, 59, 59)
	});

	$("#uploadBtn").click(function () { 
		paperAdd.ajaxFileUpload();
	});

	$('#btn_save').click(function(){
		paperAdd.saveNews();
	});
	/*$('#btn_preview').click(function(){
		window.open('/newsDetailPreview.htm?id='+param['id']);
	});*/
	$('#btn_publish').click(function(){
		paperAdd.pubNews();
	});

	window.G.ui.news.CategoryInit();
	window.G.ui.news.KeyWordsInit();
}

paperAdd.getParams = function(){
	var params = {};

	var tmp_key = [];

	params['title'] = $("#title").val();
	params['type'] = $("#category_type").val();
	params['btype'] = $("#label_type").val();
	//params['keys'] = $("#keys").val();
	params['url'] = $("#url").val();
	//params['level'] = $("#level_num").val();
	params['source'] = $("#source").val();
	params['img'] = $("#img_val").val();
	params['sub_title'] = $("#sub_title").val();
	params['content'] = paperAdd.main_editor.getContent();
	params['pub_date'] = $("#pub_date").val();
	params['is_focus'] = $("input[name='is_focus']:checked").val();

	//console.log(params);
	$("#keywords").find("span").each(function(){
		tmp_key.push($(this).text());
	});

	params['keys'] = tmp_key.join(',');

	return params;
}


paperAdd.saveNews = function(){
	
	var params = paperAdd.getParams();

	if($.trim(params['title']) == ''){
		alert('标题不能为空');
		return false;
	}

	if(params['content'] == ""){
		alert('正文不能为空');
		return false;
	}

	$.ajax({
		type : 'POST',
		url : '/paper/news/newspost',
		data: params,
		dataType : 'json',
		success: function(rdata) {
			if(rdata.code == 1){
				alert(rdata.message);
				window.location.href ="/paper/news/newsadd";
			}else{
				alert(rdata.message);
			}
		},
		error: function() {
			alert("接口调用失败！");
		}
	});
};

paperAdd.pubNews = function(){
	/*if(!window.confirm('确定发布到外网吗？')){
		return;
	}
	var main_document = main_editor.getHTML();
	$('#mainBody').val(main_document);
	var summary_document = summary_editor.getHTML();
	$('#summaryBody').val(summary_document);

	$.post('/edit/detail/pubNews',{
		id:$('#id').val(),
		title:$('#title').val(),
		summary:$('#summaryBody').val(),
		content:$('#mainBody').val()
	},function(ret){
		if(ret.code==1){
			alert('发布成功');
			window.location='/newsList.htm'
		}else{
			alert(ret.message);
		}
	});*/
};


paperAdd.ajaxFileUpload = function() {
	$.ajaxFileUpload({
		url: '/paper/news/uploadimg', //用于文件上传的服务器端请求地址
		secureuri: false, //一般设置为false
		fileElementId: 'uploadify', //文件上传空间的id属性  <input type="file" id="file" name="file" />
		dataType: 'json', //返回值类型 一般设置为json
		success: function (rdata, status)  //服务器成功响应处理函数
		{
			if(rdata.code == 1){
				$("#img1").attr("src", '/res/News/'+rdata.data);
				$("#img_val").val(rdata.data);
			}else{
				alert(rdata.message);
			}
		},
		error: function (data, status, e)//服务器响应失败处理函数
		{
			alert(e);
		}
	});
	return false;
}

paperAdd.init();

});

</script>
{/literal}
</body>
</html>