<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="stylesheet" type="text/css" media="all" href="/res/JqueryUI/jquery-ui.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<link rel="stylesheet" type="text/css" media="all" href="/res/JqueryUI/jquery-timepicker-addon.css" />
<link rel="stylesheet" type="text/css" media="all" href="/res/websrc/css/autocomplete.css" />
<title>原创文章（编辑）</title>
<script type="text/javascript" src="/res/js/jquery.min.js"></script>
<script type="text/javascript" src="/res/Ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/res/Ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="/res/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/res/js/jquery.md5.js"></script>
<script type="text/javascript" src="/res/js/loginstatus.js"></script>
<script type="text/javascript" src="/res/JqueryUI/jquery-ui.min.js"></script>
<script type="text/javascript" src="/res/Uploadify/ajaxfileupload.js"></script>
<script type="text/javascript" src="/res/JqueryUI/jquery-ui-timepicker-addon.js"></script>
<script type="text/javascript" src="/res/websrc/UIlib/jquery/autocomplete.js"></script>
<script type="text/javascript" src="/res/js/news.js"></script>
<style>
{literal}
#oppanel input[type="button"] {
    display: inline;
}
{/literal}
</style>
</head>
<body>
<div id="left">
	<div id="userinfo">
		<span id='userName'></span>
	</div>
	<nav>
		{include file="$menu_path/menu.htm"}
	</nav>
</div>
<div id="main_body">
	<div id="content">
		<form id="form_detail" method="post">
			<input type="hidden" id="pid" name="pid" value="{$data.id}" />
			<div><label style="color:red;">*号必填</label></div>
			<div>
			<label>大&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类：<select name="category_type" id="category_type" style="width:180px;">
					<!--<option value='1' {if $data.type eq 1}selected="selected"{/if}>新闻</option>
					<option value='2' {if $data.type eq 2}selected="selected"{/if}>资讯</option>-->
					</select>&nbsp;&nbsp;<span style="color:red;">*</span>
			</label>
			</div>
			<div>
			<label>分&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;类：<select name="label_type" id="label_type" style="width:180px;">
					<!--<option value="1" {if $data.category eq 1}selected="selected"{/if}>指南</option>
					<option value="2" {if $data.category eq 2}selected="selected"{/if}>临床研究</option>
					<option value="3" {if $data.category eq 3}selected="selected"{/if}>病例分析</option>
					<option value='0' {if $data.category eq 0}selected="selected"{/if}>无</option>
					<option value='1' {if $data.category eq 1}selected="selected"{/if}>推广</option>
					<option value='2' {if $data.category eq 2}selected="selected"{/if}>深度解读</option>
					<option value='3' {if $data.category eq 3}selected="selected"{/if}>指南</option>
					<option value='4' {if $data.category eq 4}selected="selected"{/if}>临床研究</option>
					<option value='5' {if $data.category eq 5}selected="selected"{/if}>病例分析</option>
					<option value='6' {if $data.category eq 6}selected="selected"{/if}>会议</option>
					<option value='7' {if $data.category eq 7}selected="selected"{/if}>推荐</option>
					<option value='8' {if $data.category eq 8}selected="selected"{/if}>热点</option>-->
					</select>&nbsp;&nbsp;<span style="color:red;">*</span>
			</label>
			</div>
			<div>
			<label>标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：<input type="text" id="title" name="title" value="{$data.title}" style="width:50%" />&nbsp;&nbsp;<span style="color:red;">*</span></label>
			</div>
			<div>
			<label>副&nbsp;标&nbsp;题：<input type="text" id="sub_title" name="sub_title" value="{$data.sub_title}" style="width:50%" /></label>
			</div>
			<div>
				<label>发布时间：<input type="text" id="pub_date" name="pub_date" value="{$data.pub_date}" />&nbsp;&nbsp;<span style="color:red;">*</span></label>
			</div>
			<div>
			<!--<label>关&nbsp;键&nbsp;字：<input type="text" id="keys" name="keys" value="{$data.keys}" style="width:50%" />&nbsp;&nbsp;(多个关键字请以逗号,分隔)</label>-->
				<label>关&nbsp;键&nbsp;字：<input type="text" id="keys" name="keys" style="width:30%" /></label>
				<label id="keywords">
				{if count($keys_arr) neq 0}
				{foreach from=$keys_arr item=key}
					<span class="keyword" title="点击删除">{$key}</span>
				{/foreach}
				{/if}
				</label>
			</div>
			<div>
				<label>原文链接：<input type="text" id="url" name="url" value="{$data.src_url}" style="width:50%" /></label>
			</div>
			<div>
				<label>来&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;源：<input type="text" id="source" name="source" value="{$data.source}" style="width:50%" /></label>
			</div>
			<div>
				<label>是否推荐：
					<input type="radio" value="1" name="is_focus" {if $data.is_focus eq 1}checked="checked"{/if} />是
					<input type="radio" value="0" name="is_focus" {if $data.is_focus eq 0}checked="checked"{/if} />否
				</label>
				<br>
			</div>
			<!--<div>
				<label>优&nbsp;先&nbsp;级：<select name="level_num" id="level_num" style="width:180px;">
					<option value="1" {if $data.level eq 1}selected="selected"{/if}>1</option>
					<option value="2" {if $data.level eq 2}selected="selected"{/if}>2</option>
					<option value="3" {if $data.level eq 3}selected="selected"{/if}>3</option>
					</select>
				</label>
			</div>-->
			<br />
			<div>
				<label>正&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;文：</label>
				<br />
			</div>
			<div>
				<textarea id="main" ></textarea>
			</div>
			<div>
				<label>图&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片：</label>
				<label><input type="file" name="uploadify" id="uploadify"></label>
				<label><input type="button" id="uploadBtn" value="上传" /></label>
				<label><img id="img1" {if $data.img_url}src="/res/News/{$data.img_url}"{/if} /><input type="hidden" id="img_val" value="{$data.img_url}" /></label>
				<br />
			</div>
			
			<div id="oppanel">
				<input type="button" id='btn_save' value="保存" />
				<input type="button" id='btn_preview' value="预览" />
				<!--<input type="button" id='btn_publish' value="发布" />-->
			</div>
		</form>
			
		
	</div>
	</div>
<script type="text/javascript">
	
$().ready(function(){

var paperEdit = {}; //namespace

var today = new Date();

paperEdit.init = function(){

	paperEdit.main_editor = UE.getEditor('main',{
		imageUrl: '/paper/news/uploadeditorimg'
	});

	
	paperEdit.main_editor.ready(function(){
		paperEdit.main_editor.setContent('{$content}');
	});

	$("#pub_date").datetimepicker({
		dateFormat: "yy-mm-dd",
		timeFormat: "HH:mm:ss",
		maxDate: new Date(today.getFullYear(), today.getMonth(), today.getDate(), 23, 59, 59)
	});
	
	$("#uploadBtn").click(function () { 
		paperEdit.ajaxFileUpload();
	});

	$('#btn_save').click(function(){
		paperEdit.saveNews();
	});

	$('#btn_preview').click(function(){
		//window.open('/paper/news/newsprev?id='+$("#pid").val());
		paperEdit.preNews();
	});

	$('#btn_publish').click(function(){
		paperEdit.pubNews();
	});

	window.G.ui.news.CategoryInit();
	window.G.ui.news.KeyWordsInit();

	GetCategoryError = function(){
    	$("#category_type").val({$data.type}).change();
		$("#label_type").val({$data.category});
    };

	$("#keywords").find("span").click(function(){
		$(this).remove();
		return;
	});
}

paperEdit.getParams = function(){
	var params = {};

	var tmp_key = [];

	params['id'] = $("#pid").val();
	params['title'] = $("#title").val();
	params['type'] = $("#category_type").val();
	params['btype'] = $("#label_type").val();
	//params['keys'] = $("#keys").val();
	params['url'] = $("#url").val();
	//params['level'] = $("#level_num").val();
	params['source'] = $("#source").val();
	params['img'] = $("#img_val").val();
	params['sub_title'] = $("#sub_title").val();
	params['content'] = paperEdit.main_editor.getContent();
	params['action'] = 'edit';
	params['pub_date'] = $("#pub_date").val();
	params['is_focus'] = $("input[name='is_focus']:checked").val();
	
	$("#keywords").find("span").each(function(){
		tmp_key.push($(this).text());
	});

	params['keys'] = tmp_key.join(',');

	//console.log(params);

	return params;
}


paperEdit.saveNews = function(){
	
	var params = paperEdit.getParams();

	if($.trim(params['title']) == ''){
		alert('标题不能为空');
		return false;
	}

	if($.trim(params['content']) == ""){
		alert('正文不能为空');
		return false;
	}

	$.ajax({
		type : 'POST',
		url : '/paper/news/newspost',
		data: params,
		dataType : 'json',
		success: function(rdata) {
			if(rdata.code == 1){
				alert(rdata.message);
				//window.location.href ="/paper/news/newslist";
				window.location.href = document.referrer;
			}else{
				alert(rdata.message);
			}
		},
		error: function() {
			alert("接口调用失败！");
		}
	});
};

paperEdit.preNews = function(){
	
	var params = paperEdit.getParams();

	if($.trim(params['title']) == ''){
		alert('标题不能为空');
		return false;
	}

	if($.trim(params['content']) == ""){
		alert('正文不能为空');
		return false;
	}

	$.ajax({
		type : 'POST',
		url : '/paper/news/newspost',
		data: params,
		dataType : 'json',
		success: function(rdata) {
			if(rdata.code == 1){
				//alert(rdata.message);
				window.open('/paper/news/newsprev?id='+params['id']);
			}else{
				alert(rdata.message);
			}
		},
		error: function() {
			alert("接口调用失败！");
		}
	});
}

paperEdit.pubNews = function(){
	/*if(!window.confirm('确定发布到外网吗？')){
		return;
	}
	var main_document = main_editor.getHTML();
	$('#mainBody').val(main_document);
	var summary_document = summary_editor.getHTML();
	$('#summaryBody').val(summary_document);

	$.post('/edit/detail/pubNews',{
		id:$('#id').val(),
		title:$('#title').val(),
		summary:$('#summaryBody').val(),
		content:$('#mainBody').val()
	},function(ret){
		if(ret.code==1){
			alert('发布成功');
			window.location='/newsList.htm'
		}else{
			alert(ret.message);
		}
	});*/
};


paperEdit.ajaxFileUpload = function() {
	$.ajaxFileUpload({
		url: '/paper/news/uploadimg', //用于文件上传的服务器端请求地址
		secureuri: false, //一般设置为false
		fileElementId: 'uploadify', //文件上传空间的id属性
		dataType: 'json', //返回值类型 一般设置为json
		success: function (rdata, status)  //服务器成功响应处理函数
		{
			if(rdata.code == 1){
				$("#img1").attr("src", '/res/News/'+rdata.data);
				$("#img_val").val(rdata.data);
			}else{
				alert(rdata.message);
			}
		},
		error: function (data, status, e)//服务器响应失败处理函数
		{
			alert(e);
		}
	});
	return false;
}

paperEdit.init();

});

</script>
</body>
</html>