<!DOCTYPE html>
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="cleartype" content="on">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>客服聊天</title>
    <style>
    {literal}
      *{ margin: 0; padding: 0; box-sizing: border-box; }
      body{font-family: 'lucida grande', 'lucida sans unicode', 'lucida', 'helvetica', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;text-align:justify;font-weight:lighter;letter-spacing:0;}
      form { background: #333333; padding:0.2rem; position: fixed; bottom: 0; height: 3em; width: 100%; }
      #classify{position: fixed; bottom: 3rem; height: 3em; width: 100%;}
      form input { height: 2.6rem;line-height: 2rem;margin:0 5rem 0 0;padding: 0 5rem 0 0.5rem;display: block; border: 1px solid #e5e5e5;font-size: 1rem;width: 100%;
    -moz-border-radius: 0.5rem;      /* Gecko browsers */
    -webkit-border-radius: 0.5rem;   /* Webkit browsers */
    border-radius:0.5rem;            /* W3C syntax */}
      form button { width:4rem; background: rgb(130, 224, 255); border: 1px solid #e5e5e5;font-size: 1rem;
    -moz-border-radius: 0.5rem;      /* Gecko browsers */
    -webkit-border-radius: 0.5rem;   /* Webkit browsers */
    border-radius:0.5rem; height: 2.6em; margin: -2.6rem 0 0 0.5rem; display:block;float: right;}
      #messages { list-style-type: none; margin: 0 0 5em 0; padding: 0; height: auto;  }
      #messages li { padding:0 1rem 0 0.5rem;line-height: 2rem; }
      #messages li:nth-child(odd) { background: #eee; }
      li.me{text-align: right;}
      li span{color:#cccccc;margin: 0 0 0 0.5rem;font-size: 0.5rem; }
      {/literal}
    </style>
    <!--[if lte IE 7]>
    <script  type="text/javascript" src="/res/js/json2.js"></script>
    <![endif]--> 
  </head>
  <body>

    <ul id="messages"></ul>
    <div id="classify">
    <!--
    1、其他 2、资讯 3、同道 4、成长 5、科研 6、个人资料
    -->
    请选择问题归类：
    <select id="selection">
      <option value="">--请选择归类--</option>
      <option value="1">其他</option>
      <option value="2">资讯</option>
      <option value="3">同道</option>
      <option value="4">成长</option>
      <option value="5">科研</option>
      <option value="6">个人资料</option>
    </select>
    <input type="button" id="btn_classify" value="确定分类" />
    </div>
    <form action="">
      <input id="m" autocomplete="off" /><button>发送</button>
    </form>

    <script charset="utf-8" src="http://{$env}c.imed.me/res/js/jquery.min.js"></script>
    <script charset="utf-8" src="http://{$env}c.imed.me/res/js/jquery.cookie.js"></script>
    <script src="http://v2.dev.c.imed.me/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    {literal}
      function loadQuestion(uid){
        $.post('/manage/service/getChatDetailInfo',{tid:tid},function(data){
          if(data.code==1){
            console.dir(data);
            var list = data.data;
            for(var i=0;i<list.length;i++){
              var sender = list[i].uid;
              var _class='';
              
              {/literal}
              sender =  '{$user_name}:';
              {literal}
             
              if(src==1){

                $('<li class="'+_class+'"></li>').appendTo('#messages').html("<label for='"+list[i].chat_id+"'><input type='checkbox' id='"+list[i].chat_id+"' value='"+list[i].chat_id+"' />" +sender+list[i].content+'<span>'+list[i].create_time+'</span></label>');
              }
            
            }
          }
          //
        });
      }
      $().ready(function(){
        $('#btn_classify').click(function(){
          if($('#selection').val()==''){
            alert('请选择问题归类');
            return false;
          }
          if($('input[type=checkbox]:checked').length==0){
            alert('请选择需要归类的话题');
            return false;
          }
          var checked_box = $('input[type=checkbox]:checked');
          var checked_array = new Array();
          for (var i = checked_box.length - 1; i >= 0; i--) {
            checked_array.push($(checked_box[i]).val());
          };
          var checked_val = checked_array.join(',');
          $.post('/manage/service/classify',{ids:checked_val,type:$('#selection').val()},function(d){
              alert(d.message);
          });
        });
      });
      $.extend({  
        getUrlVars: function(){  
          var vars = [], hash;  
          var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
          for(var i = 0; i < hashes.length; i++)  
          {  
            hash = hashes[i].split('=');  
            vars.push(hash[0]);  
            vars[hash[0]] = hash[1];  
          }  
          return vars;  
        },  
        getUrlVar: function(name){  
          return $.getUrlVars()[name];  
        }  
      }); 
       
      {/literal}

      var socket = io.connect('http://v2.dev.c.imed.me/');
      var sid="{$token}";
      var uid={$uid};
      var user_name ="{$user_name}";
      {literal}
      var param = $.getUrlVars();
      var tid = param['tid'];
      var type = param['type'];
      var src = param['src'];
      if(!type){
        type = 0;
      }
      if(!sid){
        sid = 0;
      }
      if(!src){
        src = 0;
      }
      //console.log('---------------');
      socket.emit('login',{ "uid":uid,"tid": tid,"type":type,"token":sid });
      //socket.emit('getmsg',{uid:uid,tid:tid});
      socket.on('pong',function(data){
        console.dir(data);
      });
      
      socket.on('login_return',function(data){
        console.log(data);
        loadQuestion(tid);
        if(data.code==1){
          $.cookie('c_uid',uid,{path:'/',domain:'imed.me'});
        }else{
          $.cookie('c_uid','', { path:'/',domain:'imed.me',expires: -1 });
        }
        //socket.emit('login_v',{uid:userid});
      });
      function showChatMsg(data){
        //传递数据到客户端
        try{
          Android.showChatMsg(JSON.stringify(data));
        }catch(e){
          //console.dir(e);
        }
        //console.dir(data);
        if(data&&data.length>0){
          for (var i = 0; i <data.length; i++) {
            var sender = data[i].tid;
            var _class='';
            if(data[i].direction==1){
              sender = '';
              _class='me';
            }else{
              sender =  user_name+':';
            }
            if(src==1){
              $('<li class="'+_class+'"></li>').appendTo('#messages').html("<label for='"+data[i].id+"'><input type='checkbox' id='"+data[i].id+"' value='"+data[i].id+"' />" +sender+data[i].msg+'<span>'+data[i].time+'</span></label>');
            }
            
            $('html, body,#messages').animate({scrollTop: $(document).height()}, 10); 
          };
        }
        
      }

      function showMsgList(data){
	     //console.dir(data);
        try{
            var datastring =JSON.stringify(data); 
            tongdaoMessage.newMessage(datastring);
        }catch(e){
          //console.dir(e);
        }
      }

      function showError(data){
        try{
            var datastring =JSON.stringify(data); 
            tongdaoMessage.showError(datastring);
        }catch(e){
          //console.dir(e);
        }
      }


      $('form').submit(function(){
        socket.emit('chat', {uid:uid,tid:tid,msg:$('#m').val()});
        //同步更新数据
         $.post('/manage/service/mergeInfo',{tid:tid},function(d){
              console.dir(d);
          });

        var today = new Date();
        $('<li class="me"></li>').appendTo('#messages').html($('#m').val()+'<span>'+ today.toLocaleTimeString()+'</span>');
        $('#m').val('');

      
        return false;
      });
      socket.on('notify',function(type,data){
        console.log('===========notify==========');
        console.log('===========type '+type+'==========');
        console.dir(data);
        switch(type){
          case 4:{
            //socket.emit('chat',7,data.data[0]);
            break;
          }
          default:{
            break;
          }
        }
      });

      socket.on('chat',function(type,data){
        console.log('===========chat back==========');
        console.log('============type '+type+'==================');
        console.dir(data);
        switch(type){
          case 2:{
            console.log('------------receive my msg-----------');
            if(data.data.length>0){
              socket.emit('chat',7,{uid:userid,tid:tid,maxmsgid:data.data[0].msgid});
            }
            break;
          }
          case 4:{
            socket.emit('chat',5,data.data[0]);
            break;
          }
          default:{
            break;
          }
        }
      });

      socket.on('login',function(type,data){
        console.log('===========login back==========');
        console.log(data);
      });

      socket.on('typing',function(data){
        console.log('=============typing===============');
        console.dir(data);
        var msg = '';
        if(data.status==1){
          msg = data.msg;  
        }else{
          msg = '即时聊天';
        }
        $('title').text(msg); 
      });

     //发送消息
      function sendMsg(uid,tid,token,msg){
        //从客户端获取聊天信息数据
        console.log('===========sendMsg==========');
        console.log(msg);
        socket.emit('chat',3,{uid:uid,tid:tid,token:token,msg:msg});
      }

      {/literal}
    </script>
  </body>
</html>