<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="cleartype" content="on">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{include file="$menu_path/common_css.htm"}
<link rel="stylesheet" type="text/css" media="all" href="/admin.css" />
<title>用户管理</title>
<script type="text/javascript" src="/res/js/jquery.min.js"></script>
<script type="text/javascript" src="/res/JqueryUI/jquery-ui.min.js"></script>
{include file="$menu_path/common_js.htm"}
<style>
table {
	font-size:14px;
	text-align:center;
}
</style>
</head>
<body>

{include file="$menu_path/menu.htm"}

<div id="main_body">
	<!--<header>
		<label>状态：<select id="status" name="status"><option value="" {if $status eq ''}selected="selected"{/if}>--全部--</option>
				<option value="0" {if $status eq '0'}selected="selected"{/if}>待审核</option>
				<option value="1" {if $status eq '1'}selected="selected"{/if}>已审核未发布</option>
				<option value="3" {if $status eq '3'}selected="selected"{/if}>已发布</option>
			</select>	
		</label>
		<label><button id="btn_search">搜 索</button></label>
	</header>-->
	<hr />
	<div id="content">
		<table id='datalist'>
			<tr id="headerlist">
				<!--<th class="check"><input type="checkbox" id='checked' /><label for="checked">全选</label></th>-->
				<th class="type" width="25%">用户名</th>
				<th class="status" width="25%">状态</th>
				<th class="time" width="25%">时间</th>
				<th class="op" width="25%">操作</th>
			</tr>

			{foreach from=$list key=k item=foo}
			<tr class="data">
				<!--<td><input type="checkbox" value="{$foo.id}" name="info_id"></td>-->
				<td class="type">{$foo.user_name}</td>
				<td class="status">{if $foo.status eq -1}删除{else if $foo.status eq 1}未审核{else if $foo.status eq 2}正常{/if}</td>
				<td class="time">{$foo.create_time}</td>
				<td class="op">{if $foo.status eq 1}<a href="javascript:;" sValue="{$foo.id}" class="checkBtn">审核</a>{/if}{if $foo.status eq 2}<a href="javascript:;" sValue="{$foo.id}" class="delBtn">删除</a>{/if}</td>
			</tr>
			{/foreach}
		</table>
		<div id="pager">
			<span class="total">共{$total}条记录/第{$current}/{$total_num}页</span>
			{section name=total loop=$total_num}
			{if $current eq $smarty.section.total.index+1}
			<span>{$smarty.section.total.index+1}</span>
			{else}
			<a href="/admin/user/userlist?page={$smarty.section.total.index+1}{$str_url}">{$smarty.section.total.index+1}</a>
			{/if}
			{/section}
		</div>
	</div>
</div>
	

<script type="text/javascript">
var userPage = {};
	userPage.doneAction = function(){

		$(".delBtn").click(function(){
			userPage.delAction($(this).attr('sValue'));
		});

		$(".checkBtn").click(function(){
			userPage.chkAction($(this).attr('sValue'));
		});
	}

	userPage.chkAction = function(id){
		var data = {
			'id' : id
		};

		$.ajax({
			type : 'POST',
			url : '/admin/user/userchk/',
			data : data,
			dataType : 'json',
			success: function(rdata) {
				if(rdata.code == 1){
					alert(rdata.message);
					window.location.reload();
				}
			},
			error: function() {
				alert("接口调用失败");
			}
		});
	}

	userPage.delAction = function(id){

		var s = confirm("确定删除？");
		
		if(!s){
			return;
		}

		var data = {
			'id' : id
		};

		$.ajax({
			type : 'POST',
			url : '/admin/user/userdel/',
			data : data,
			dataType : 'json',
			success: function(rdata) {
				if(rdata.code == 1){
					alert(rdata.message);
					window.location.reload();
				}
			},
			error: function() {
				alert("接口调用失败");
			}
		});
	}

	userPage.init = function(){
		userPage.doneAction();
	}

userPage.init();
</script>	
</body>
</html>